@primary-color: #1b6078;
@secondary-color: #648194;
@tertiary-color: #7bc9c1;
@tertiary-color-light: #a4d7d1;
@tertiary-color-dark: #589c9b;
@dark-gray: #333;
@dark-blue: #063342;
@green: #4db799;
@red: #c82749;

html {
    font-size: 1em;
    }
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    }

p {
    margin: 0 0 1.5em 0;
    }


.control-label {
    display: inline-block;
    max-width: 100%;
    color: @dark-gray;
    margin-bottom: 5px;
    font-weight: 700;
    }

.form-group .control-label:after {
    content:" *";
    color: @red;
    }

.correct {
    color: @green;
    }

.incorrect {
    color: @red;
    }

.error {
    color: @red;
    }

.navbar-default {
    background-color: #fff;
    }

.navbar-toggle {
    border: 0px;
    margin: 0;
    padding: 0px;
    line-height: 96px;
    font-size: 1.2em;
    color: @primary-color;
    }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
    }

.navbar-nav .btn {
    margin: 22px 0 0 12px;
    line-height: 24px;
    height: 48px;
    }

.navbar-nav .btn.btn-inverted {
    background: @dark-gray;
    border: 2px solid @dark-gray;
    color: #fff;
    }

.grayscale {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    }

a, a:visited {
    color: @tertiary-color-dark;
    font-weight: 700;
    }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 24px 0;
    color: @primary-color;
    font-weight: 400;
    }

h5, .h5 {
    font-size: 1em;
    }

.btn {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
}

.jumbotron {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
}

.jumbotron h1 {
    margin-bottom: 48px;
    }

.jumbotron.page h1 {
    margin-bottom: 0px;
    }

h4, .h4 {
    font-weight:700;
    line-height:1.33333;
    }

h3, .h3 {
    line-height: 1.5em;
    }

.wrapper {
    padding: 72px 0;
    }
#footer img {
    margin: 24px;
    }

.navbar {
    margin-bottom: 0px;
    padding: 0;
    border-radius: 0px;
    border: 0px;
    z-index: 1;
    }

.navbar-header a {
    line-height:96px;
    height: 96px;
    }

.navbar-nav>li>a {
    line-height: 96px;
    height: 96px;
    padding-top:0px;
    padding-bottom:0px;
    }

.navbar-nav>li>a.btn.btn-huge {
    line-height: 28px;
    padding-top:24px;
    padding-bottom:12px;
    background: #063342;
    background: #333333;
    color: #fff;
    border-radius: 0px;
    border: 0px;
    width: 220px;
    height:96px;
    margin:0px;
    }

.btn-huge:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 48px #333333;
    border-left: solid 110px transparent;
    border-right: solid 110px transparent;
    }

.jumbotron {
    position:relative;
    padding: 72px 0;
    }

.jumbotron .container {
    position: relative;
    }

.gradient-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;   
    /* background: rgba(6,51,66,.7); */
    background: linear-gradient(to right,rgba(6,51,66,0.9) 0%, rgba(6, 51, 66, .6) 100%); 
    }

a.logo {
    color: @primary-color;
    font-weight: 700;
    letter-spacing: .05em;
    }

.gradient-overlay.light {
    background: linear-gradient(to right,rgba(6,51,66,0.6) 0%, rgba(6, 51, 66, 0) 100%); 
    }

.tagline {
    letter-spacing: .1em;
    }

.tagline-first {
    font-size: .775em;
    font-weight: 300;
    }

.tagline-second {
    font-weight: 700;
    font-size: 1.4em;
    }

.nav .btn, .btn, a.btn {
    font-size: 1em;
    padding: 12px;
    border-radius: 0px;
    }

a.btn-primary, .btn-primary {
    color: #fff;
    background-color: @tertiary-color;
    border-color: @tertiary-color;
    min-width: 150px;
    }

.btn-primary:focus, .btn-primary:hover, .btn-primary:active {
    color: #fff;
    background-color: @tertiary-color-light;
    border-color: @tertiary-color-light;
    outline: 0px;
    }

.navbar-default .navbar-nav>li>a {
    color: #333;
    }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    }

.nav .btn-secondary, .btn-secondary {
    border: 2px solid;
    }

.img-content-block img {
    width: 100%;
    max-width: 500px;
    }

.img-content-block h4 {
    margin:24px 0 12px 0;
    }

.mt48 {
    margin-top: 48px;
    }

.table.nmb, .nmb {
    margin-bottom: 0px;
    }

.mb12 {
    margin-bottom: 12px;
    }

.inherit {
    color: inherit;
    }

.table {
    display: table;
    margin-bottom: 24px;
    }

.valign {
    display: table-cell;
    vertical-align: middle;
    }

@media (max-width: 1200px) {
.nav>li>a, .nav .btn {
    font-size: .875em;
    }
}

@media (max-width: 991px) {
.img-content-block {
    margin-bottom: 24px;
    }
}


@media (max-width: 767px) {
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin: 0;
    }
.navbar-nav>li>a {
    line-height: 36px;
    height: 36px;
    padding: 0px;
    }
.container {
    width: 96%;
    }

.navbar-nav .btn, .navbar-nav a.btn, .navbar-nav .btn.btn-inverted {
    margin: 0px;
    padding: 0px;
    line-height: 36px;
    height: 36px;
    text-align: left;
    background: transparent;
    border: 0px;
    color: @dark-gray;
    }
.valign {
    display: block;
    }
}
