@primary-color: #195b72;
@secondary-color: #3fc8c8;
@dark-gray: #2e3335;
@light-gray: #878c8d;
@dark-blue: #063342;
@green: #0abc7e;
@red: #cc064a;

@transition: all 0.25s ease-out;
    
.transition {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
    }

.box-shadow-none {
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
    box-shadow: inset 0 0 0 rgba(0,0,0,.0);
    }

html {
    font-size: 1em;
    }
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    }

p {
    margin: 0 0 1.5em 0;
    }

.small, small {
    font-size: .875em;
    }

.link {
    cursor: pointer;
    }

.correct {
    color: @green;
    }

.incorrect {
    color: @red;
    }

.error {
    color: @red;
    }

.navbar-default {
    background-color: #fff;
    }

.navbar-toggle {
    border: 0px;
    margin: 0;
    padding: 0px;
    line-height: 96px;
    font-size: 1.2em;
    color: @primary-color;
    }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
    }

.navbar-nav .btn {
    margin: 22px 0 0 12px;
    line-height: 24px;
    height: 48px;
    }

.navbar-nav .btn.btn-inverted {
    background: @dark-gray;
    border: 2px solid @dark-gray;
    color: #fff;
    }

.grayscale {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    }

a, a:visited {
    color: @secondary-color;
    font-weight: 700;
    }

a:focus, a:hover, a:active {
    text-decoration: none;
    color: lighten(@secondary-color,5%);
    }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 24px 0;
    color: @primary-color;
    font-weight: 400;
    }

h5, .h5 {
    font-size: 1em;
    }

.btn {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
}

.jumbotron {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
}

.jumbotron h1 {
    margin-bottom: 48px;
    }

.jumbotron.page h1,
.jumbotron.dashboard h1 {
    margin-bottom: 0px;
    }

h4, .h4 {
    font-weight:700;
    line-height:1.33333;
    }

h3, .h3 {
    line-height: 1.5em;
    }

.wrapper {
    padding: 72px 0;
    }

.wrapper.gray {
    background: #efefef;
    }

.wrapper.footer {
    border-top: 1px solid #efefef;
    }

.wrapper.dashboard {
    padding: 48px 0;
    }

.wrapper.secondary-nav {
    padding: 24px 0;
    }

#footer img {
    margin: 24px;
    }

.navbar {
    margin-bottom: 0px;
    padding: 0;
    border-radius: 0px;
    border: 0px;
    z-index: 1;
    }

.navbar-header a {
    line-height:96px;
    height: 96px;
    }

.navbar-nav>li>a {
    line-height: 96px;
    height: 96px;
    padding-top:0px;
    padding-bottom:0px;
    }

.navbar-nav>li>a.btn.btn-huge {
    line-height: 28px;
    padding-top:24px;
    padding-bottom:12px;
    background: #063342;
    background: #333333;
    color: #fff;
    border-radius: 0px;
    border: 0px;
    width: 220px;
    height:96px;
    margin:0px;
    }

.btn-huge:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 48px #333333;
    border-left: solid 110px transparent;
    border-right: solid 110px transparent;
    .transition;
    }

.jumbotron {
    position:relative;
    padding: 72px 0;
    color: #fff;
    margin-bottom: 0px;
    background:url('../img/bg.jpg');
    background-size:cover;
    background-position: right center;
    }

.jumbotron.dashboard {
    padding: 48px 0;
    background: @primary-color;
    margin: 0px;
    }

.jumbotron.dashboard h1 {
    font-size: 36px;
    }

.jumbotron .container {
    position: relative;
    }

.gradient-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;   
    /* background: rgba(6,51,66,.7); */
    background: linear-gradient(to right,rgba(6,51,66,0.9) 0%, rgba(6, 51, 66, .6) 100%); 
    }

a.logo {
    color: @primary-color;
    font-weight: 700;
    letter-spacing: .05em;
    padding-right: 15px;
    font-size: 1.4em;
    }

.logo img {
    display:block;
    float:left;
    margin-top:18px;
    margin-bottom:18px;
    margin-right:6px;
    }

.gradient-overlay.light {
    background: linear-gradient(to right,rgba(6,51,66,0.6) 0%, rgba(6, 51, 66, 0) 100%); 
    }

.tagline {
    letter-spacing: .1em;
    }

.tagline-first {
    font-size: .775em;
    font-weight: 300;
    }

.tagline-second {
    font-weight: 700;
    font-size: 1.4em;
    }

.nav .btn, .btn, a.btn {
    font-size: 1em;
    padding: 12px;
    border-radius: 0px;
    text-transform: uppercase; 
    .transition;
    }

a.btn-primary, .btn-primary {
    color: #fff;
    background-color: @secondary-color;
    border-color: @secondary-color;
    min-width: 150px;
    }

a.btn-default, .btn-default {
    background-color: @dark-blue;
    border-color: @dark-blue;
    color: #fff;
    }

.btn:focus, .btn:hover, .btn:active {
    outline: 0px;
    .box-shadow-none;
    }

.btn-default:focus, .btn-default:hover, .btn-default:active {
    color: #fff;
    background-color: lighten(@dark-blue,5%);
    border-color: lighten(@dark-blue,5%);
    }

.btn-secondary:focus, .btn-secondary:hover, .btn-secondary:active {
    border-color: lighten(@secondary-color,5%);
    color: lighten(@secondary-color,5%);
    }

.btn-huge:focus, .btn-huge:hover, .btn-huge:active {
    background: lighten(@dark-gray,5%) !important;
    }

.btn-huge:focus:after, .btn-huge:hover:after, .btn-huge:active:after {
    border-top: solid 48px lighten(@dark-gray,5%) !important;
    }

.btn-primary:focus, .btn-primary:hover, .btn-primary:active {
    color: #fff;
    background-color: lighten(@secondary-color,5%);
    border-color: lighten(@secondary-color,5%);
    outline: 0px;
    }

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    background-color: lighten(@secondary-color,5%);
    border-color: lighten(@secondary-color,5%);
    }

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: lighten(@dark-blue,5%);
    border-color: lighten(@dark-blue,5%);
    }

btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline-offset: 0px;
    }

.btn-default.btn-sm, .btn-sm {
    padding: 6px 12px;
    min-width: 0px;
    font-size: .875em; 
    margin-top:-6px;
    }

.navbar-default .navbar-nav>li>a {
    color: #333;
    }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    }

.nav .btn-secondary, .btn-secondary {
    border: 2px solid;
    }

.img-content-block img {
    width: 100%;
    max-width: 500px;
    }

.img-content-block h4 {
    margin:24px 0 12px 0;
    }

.mt48 {
    margin-top: 48px;
    }

.npt {
    padding-top: 0px;
    }

.table.nmb, .nmb {
    margin-bottom: 0px;
    }

.mb12 {
    margin-bottom: 12px;
    }

.mb24 {
    margin-bottom: 24px;
    }

a.inherit, .inherit {
    color: inherit;
    }

.table {
    display: table;
    margin-bottom: 24px;
    }

.valign {
    display: table-cell;
    vertical-align: middle;
    }

// FORM
.note {
    background: #efefef;
    padding: 24px;
    }

.form-group {
    margin-bottom: 24px;
    }

.form-label, label {
    margin-bottom: 4px;
    font-weight: 400;
    color:@light-gray; 
    }

.form-control {
    padding: 12px;
    font-size: 100%;
    line-height: 1.5;
    height: auto;
    border-radius: 0px;
    border: 2px solid lighten(@light-gray, 30%);
    .box-shadow-none;
    }

.form-control:focus {
    border-color: @secondary-color;
    color: @secondary-color;
    outline: 0;
    .box-shadow-none;
    }

// DASHBOARD
.fa-plus {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
    line-height: 24px;
    border-radius: 2px;
    background: @secondary-color;
    }

.search-wrapper {
    color: #fff;
    padding: 12px;
    background-color: @light-gray;
    }

.search-wrapper input {
    background: transparent;
    border: 0px;
    outline: 0px;
    }

th {
    background-color: @light-gray;
    color: #fff;
    font-weight: normal;
    }

.btn-tab {
    margin-right: 30px;
    }

.tab {
    margin-right: 30px;
    font-weight: 700;
    padding-bottom: 24px;
    color: #999;
    }

.border-bottom {
    border-bottom: 4px solid @secondary-color;
    color: @secondary-color;
    }

.show-message-mod {
    background: #efefef;
    }

.show-message-fetp {
    background: #cdcdcd;
    }

.show-message-mod, .show-message-fetp {
    padding: 12px;
    }

@media (max-width: 1200px) {
.nav>li>a, .nav .btn {
    font-size: .875em;
    }
}

@media (max-width: 991px) {
.img-content-block {
    margin-bottom: 24px;
    }
}


@media (max-width: 767px) {
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin: 0;
    }
.navbar-nav>li>a {
    line-height: 36px;
    height: 36px;
    padding: 0px;
    }
.container {
    width: 96%;
    }

.navbar-nav .btn, .navbar-nav a.btn, .navbar-nav .btn.btn-inverted {
    margin: 0px;
    padding: 0px;
    line-height: 36px;
    height: 36px;
    text-align: left;
    background: transparent;
    border: 0px;
    color: @dark-gray;
    }
.valign {
    display: block;
    }
}
.angular-google-map-container {
    height: 300px;
}
