<div ng-include src="'header_new.html'"></div>
<div class="jumbotron page">
<div class="gradient-overlay light"></div>
    <div class="container">
        <h1><span class="tagline text-uppercase">About</span></h1>
    </div>
</div>

<div class="wrapper">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
        <h3>
         EpiCore is a system that aims to complement existing surveillance methods and speed up the process of finding, reporting and verifying public health events. 
        </h3> 
        <p>EpiCore is linking a worldwide network of health experts that, through a secure online reporting platform, have the opportunity to provide information about ongoing public health events.</p>
    <p>Epicore members are potentially contributing to a faster public health response of communities and health organisations involved at local and international levels.</p>
    <p>EpiCore members have access to exclusive content related to infectious disease prevention and control, including onlinecourses (<a magnific-popup="https://www.webbertraining.com" third="true">Webber training</a>), online publications (selected articles from <a magnific-popup="https://www.thelancet.com/journals/laninf/issue/current" third="true">The Lancet Infectious Diseases</a>) and scientific documentation (<a magnific-popup="http://www.isid.org/" third="true">ISID  guidelines</a>).</p>
        </div>
    </div>
</div>
</div>
<div class="wrapper gray">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">

        <h2 class="">The Founding Partners</h2>

        <h3 class="mb12">Ending Pandemics</h3>
        <p><a magnific-popup="http://endingpandemics.org/" third="true">Ending Pandemics</a> works with partners across the globe to unlock the potential to find, verify, and contain outbreaks faster no matter where they might emerge on the planet.</p>

        <h3 class="mb12">HealthMap</h3>
        <p><a magnific-popup="http://healthmap.org" third="true">HealthMap</a>, a freely-available website, brings together disparate online data sources to achieve a unified and comprehensive view of the current global state of infectious diseases and their effect on human and animal health.</p> 

        <h3 class="mb12">ProMED-mail of the International Society for Infectious Diseases</h3>
        <p>Founded in 1994, <a magnific-popup="http://promedmail.org/" third="true">ProMED-mail</a> rapidly disseminates to its large global audience early warning reports on outbreaks of emerging and re-emerging diseases. Reports are selected and interpreted by a panel of specialists who provide expert commentary.</p> 

        <h3 class="mb12">TEPHINET (The Training Programs in Epidemiology & Public Health Interventions Network)</h3>
        <p>Founded in 1997, <a magnific-popup="http://www.tephinet.org/" third="true">TEPHINET</a> is a member-led global network of field epidemiology training programs (FETPs) consisting of 65 field based FETPs in 90 countries and 5 regional training networks with over 17,500 trainees and graduates.</p>
        </div><!--col-->
    </div><!--row-->
</div><!--container-->
</div><!--wrapper-->

<div class="wrapper darkgray">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h3>Learn more about how EpiCore works</h3>
        </div>
        <div class="col-xs-12 col-md-4">
            <a href="#/how" class="btn btn-primary text-uppercase">Learn More</a>
        </div>
    </div>
</div>
</div>
<div ng-include src="'footer.html'"></div>
