<div ng-include src="'header_new.html'"></div>
<div class="jumbotron page">
<div class="gradient-overlay light"></div>
    <div class="container">
        <h1><span class="tagline text-uppercase">About</span></h1>
    </div>
</div>

<div class="wrapper">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
        <h3>EpiCore is a new system that is finding and reporting outbreaks faster than traditional disease surveillance methods alone.</h3> 
        <p>EpiCore enables faster global outbreak detection and reporting by linking a worldwide member network of health experts through a secure online reporting platform.</p> 

        <p>EpiCore’s innovative surveillance system detects and confirms outbreaks more quickly so communities can respond faster, curb epidemics and save lives.</p>

        <p>EpiCore is a partnership between the Skoll Global Threats Funds, HealthMap, ProMED-mail of the International Society for Infectious Diseases, and TEPHINET.</p>

        <h3 class="mt48">The Founding Partners</h3>

        <h4>Skoll Global Threats Fund</h4>


        <h4 class="mb12">HealthMap</h4>
        <p><a href="http://healthmap.org">HealthMap</a>, a team of researchers, epidemiologists and software developers at Boston Children's Hospital, is an established global leader in utilizing online informal sources for disease outbreak monitoring and real-time surveillance of emerging public health threats. HealthMap brings together disparate data sources, including online news aggregators, eyewitness reports, expert-curated discussions and validated official reports, to achieve a unified and comprehensive view of the current global state of infectious diseases and their effect on human and animal health.</p>
        <p>Through an automated process, updating 24/7/365, the system monitors, organizes, integrates, filters, visualizes and disseminates online information about emerging diseases in nine languages, facilitating early detection of global public health threats.</p>

        <h4 class="mb12">ProMED-mail of the International Society for Infectious Diseases</h4>
        <p>Founded in 1994, <a href="http://promedmail.org/">ProMED-mail</a> was intended to harness the Internet in the service of detecting emerging infectious or toxin-mediated diseases, either natural or intentionally caused, that threatened human beings. Its goal is to provide early warning, disseminating information rapidly to a wide audience and allowing informed discussion in real time.</p>
        <p>As of February 2016, ProMED-mail has 79,000 subscribers in more than 180 countries who receive email reports on outbreaks and disease emergence. Readers also view reports daily online and can receive these reports via Twitter, Facebook, or an iPhone app.</p> 
        <p>Reports are selected and interpreted by a panel of specialist moderators who provide expert commentary, supply references to previous reports and to the scientific literature, and put the report in perspective for a diverse readership. Reports are simultaneously posted to ProMED’s website.</p>
        <p>ProMED’s guiding principles include transparency and a commitment to the unfettered flow of outbreak information, freedom from political constraints, availability to all without cost, commitment to the One Health concept, and service to the global health community.</p>

        <h4 class="mb12">TEPHINET</h4>
        <p>The Training Programs in Epidemiology & Public Health Interventions Network (<a href="http://www.tephinet.org/">TEPHINET</a>) is a member-led global network of field epidemiology training programs (FETPs). It was founded in 1997 with support from the World Health Organization (WHO), Centers for Disease Control and Prevention (CDC), and the Foundation Merieux. With a secretariat in Atlanta, USA, TEPHINET has existed for nearly two decades as the only global network of field epidemiology training programs, spanning multiple regional networks, sub-regional programs, and national programs around the world.</p>
        <p>TEPHINET consists of 63 field based FETPs in 83 countries and 5 regional training programs.  There are over 10,000 FETP trainees, 6,500 graduates and 1,000 students, plus 3,160 EIS graduates and trainees which is the reference program of this network.</p>
        <p>TEPHINET’s principal mission is to strengthen international public health capacity through initiating, supporting, and networking field-based training programs that enhance competencies in applied epidemiology and public health practice. TEPHINET’s vision is to improve health through a global network dedicated to quality training in applied epidemiology and public health practices.</p>
        </div><!--col-->
    </div><!--row-->
</div><!--container-->
</div><!--wrapper-->

<div class="wrapper gray">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h3>Learn more about how EpiCore works</h3>
        </div>
        <div class="col-xs-12 col-md-4">
            <a href="#/how" class="btn btn-primary text-uppercase">Learn More</a>
        </div>
    </div>
</div>
</div>
