<div class="container">
    <a href="#/home"><span class="title">Epicore</span></a>
</div>
<div class="container main">
    <div class="row">
        <div id="form-container" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wbg">
            <h1>Thank you</h1>

            <p>Thank you for your interest in EpiCore!</p>

            <p>We are excited you are considering becoming one of the select health professionals who will shape the future of disease detection!  We have received your application and will contact you uppon approval.  In the meantime, will will continue to update our website – please check back in for the most up-to-date information.</p>

        </div><!--col-->
    </div><!--row-->
</div><!--container-->
