<div ng-show="!uid" ng-include src="'header_new.html'"></div>
<div ng-show="uid" ng-include src="'header.html'"></div>
<!-- <div ng-if="mobile" ng-include src="'header_mobile.html'"></div> -->

<div class="jumbotron page">
<div class="gradient-overlay light"></div>
    <div class="container">
        <h1 ng-show="!uid"><span class="tagline text-uppercase">EpiCore Application</span></h1>
        <h1 ng-show="uid"><span class="tagline text-uppercase">Edit Profile</span></h1>
    </div>
</div>

<div class="wrapper">

<div class="container">
    <div class="row">
        <div name="form-container" class="col-xs-12 col-sm-8">
            <div class="note mb24">
                <strong>Please fill out the application form in English whenever possible.</strong><br>
                <strong>Do not write in all capital letters.</strong><br>
                <i class="fa fa-times-circle"></i> <span class="" style="text-decoration:line-through;">JOHN SMITH, John SMITH</span><br>
                <i class="fa fa-check-circle"></i> <span class="">John Smith</span></div>

            <form name="applyForm" role="form" id="applyForm">

                <h4 ng-if="uid && userInfo.locations=='1'"><a href="#/member_locations"> Additional Member Locations <i class="fa fa-arrow-circle-right"></i></a></h4>


                <h3>Contact Information</h3>

                <div class="form-group">
                    <label class="form-label" for="firstname">First Name</label>
                    <input type="text" class="form-control" ng-model="uservals.firstname" name="firstname" placeholder="without title or salutation" required>
                </div>

                <div class="form-group">
                    <label class="form-label" for="lastname">Last Name</label>
                    <input type="text" class="form-control" ng-model="uservals.lastname" name="lastname" required>
                </div>

                <div class="form-group">
                    <label class="form-label" for="email">Email</label>
                    <input type="text" class="form-control" ng-model="uservals.email" name="email" required>
                </div>

                <div class="form-group">
                    <label class="form-label" for="country">Country</label>
                    <select chosen="" ng-model="uservals.country" name="country" data-placeholder="Choose a country..." class="chosen-select form-control" required>
                        <option value=""></option>
                        <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label" for="city">City</label>
                    <input type="text" class="form-control" ng-model="uservals.city" name="city" required>
                </div>

                <div class="form-group">
                    <label class="form-label" for="state">State/Province/Region</label>
                    <input type="text" class="form-control" ng-model="uservals.state" name="state" required>
                </div>


                    <div class="form-group">
                        <br>
                        <h3>Education</h3>
                        <h4>Please list your degrees starting with the most recent</h4>
                        <h5>Education (1)</h5>
                        <label class="form-label" for="university1">College / University</label>
                        <input type="text" class="form-control" ng-model="uservals.university1" name="university1" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="major1">Major</label>
                        <input type="text" class="form-control" ng-model="uservals.major1" name="major1" placeholder="Veterinary Medicine, Nursing, Microbiology, etc." required>
                    </div>

                <div class="form-group">
                    <label class="form-label" for="degree1">Degree</label>
                    <select ng-model="uservals.degree1" name="degree1" required>
                        <option value="">-- select --</option>
                        <option value="bachelors">Bachelor's Degree</option>
                        <option value="masters">Master's Degree</option>
                        <option value="phd">Doctoral Degree</option>
                        <option value="md">MD/MBBS</option>
                        <option value="dvm">DVM</option>
                        <option value="other">other</option>
                    </select>
                    <label ><input type="text" class="form-control" ng-model="uservals.other_degree1" name="other_degree1" ng-if="uservals.degree1 == 'other' " required></label>

                </div>

                <div class="form-group">
                    <label class="form-label" for="school_country1">Country</label>
                    <select chosen="" ng-model="uservals.school_country1" name="school_country1" data-placeholder="Choose a country..." class="chosen-select form-control" required>
                        <option value=""></option>
                        <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label> <input type="checkbox" name="more_schools1" ng-model="more_schools1"> Click here if you have a second degree</label>
                    </div>
                </div>
                <div ng-if="more_schools1">
                        <div class="form-group">
                            <br>
                            <h5>Education (2)</h5>
                            <label class="form-label" for="university2">College / University</label>
                            <input type="text" class="form-control" ng-model="uservals.university2" name="university2" placeholder="College / University" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="major2">Major</label>
                            <input type="text" class="form-control" ng-model="uservals.major2" name="major2" required>
                        </div>
                    <div class="form-group">
                        <label class="form-label" for="degree2">Degree</label>
                        <select ng-model="uservals.degree2" name="degree2" required>
                            <option value="">-- select --</option>
                            <option value="bachelors">Bachelor's Degree</option>
                            <option value="masters">Master's Degree</option>
                            <option value="phd">Doctoral Degree</option>
                            <option value="md">MD/MBBS</option>
                            <option value="dvm">DVM</option>
                            <option value="other">other</option>
                        </select>
                        <label ><input type="text" class="form-control" ng-model="uservals.other_degree2" name="other_degree2" ng-if="uservals.degree2 == 'other' " required></label>

                    </div>

                    <div class="form-group">
                        <label class="form-label" for="school_country2">Country</label>
                        <select chosen="" ng-model="uservals.school_country2" name="school_country2" data-placeholder="Choose a country..." class="chosen-select form-control" required>
                            <option value=""></option>
                            <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
                        </select>
                    </div>

                </div>

                <div class="form-group" ng-show="more_schools1">
                    <div class="checkbox">
                        <label> <input type="checkbox"  name="more_schools2" ng-model="more_schools2" >Click here if you have a third degree</label>
                    </div>
                </div>
                <div ng-if="more_schools2 && more_schools1">
                        <div class="form-group">
                            <br>
                            <h5>Education (3)</h5>
                            <label class="form-label" for="university3">College / University</label>
                            <input type="text" class="form-control" ng-model="uservals.university3" name="university3" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="major3">Major</label>
                            <input type="text" class="form-control" ng-model="uservals.major3" name="major3" required>
                        </div>
                    <div class="form-group">
                        <label class="form-label" for="degree3">Degree</label>
                        <select ng-model="uservals.degree3" name="degree3" required>
                            <option value="">-- select --</option>
                            <option value="bachelors">Bachelor's Degree</option>
                            <option value="masters">Master's Degree</option>
                            <option value="phd">Doctoral Degree</option>
                            <option value="md">MD/MBBS</option>
                            <option value="dvm">DVM</option>
                            <option value="other">other</option>
                        </select>
                        <label ><input type="text" class="form-control" ng-model="uservals.other_degree3" name="other_degree3" ng-if="uservals.degree3 == 'other' " required></label>

                    </div>

                    <div class="form-group">
                        <label class="form-label" for="school_country3">Country</label>
                        <select chosen="" ng-model="uservals.school_country3" name="school_country3" data-placeholder="Choose a country..." class="chosen-select form-control" required>
                            <option value=""></option>
                            <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
                        </select>
                    </div>

                </div>


                    <div class="form-group">
                        <h5 class="form-label">Have you successfully completed a field epidemiology training program with TEPHINET or any other TEPHINET-affiliated regional network?</h5>
                        <span ng-show="!uservals.training && attempted" class="error">Must select one</span>

                        <label class="radio-inline"> <input type="radio" ng-model="uservals.training" value="1" > Yes</label>
                        <label class="radio-inline"> <input type="radio" ng-model="uservals.training" value="0" > No</label>
                        <input type="text" class="form-control" name="training" ng-model = "uservals.fetp_training" ng-if="uservals.training" placeholder="What program and where?" ng-required="uservals.training">
                    </div>

                <div class="form-group">
                    <h5 class="form-label">Have you completed any other field epidemiology training (outside of TEPHINET)?</h5>
                    <span ng-show="!uservals.other_training && attempted" class="error">Must select one</span>

                    <label class="radio-inline"> <input type="radio" ng-model="uservals.other_training" value="1" > Yes</label>
                    <label class="radio-inline"> <input type="radio" ng-model="uservals.other_training" value="0" > No</label>
                    <input type="text" class="form-control" name="other_training" ng-model = "uservals.other_fetp_training" ng-if="uservals.other_training" placeholder="What program and where?" ng-required="uservals.other_training">
                </div>

                <div class="form-group">
                    <h5 class="form-label">How many years of experience do you have in human and/or animal health?</h5>
                        <span ng-show="!uservals.health_exp && attempted" class="error">Must select one</span>
                    <div class="radio">
                        <label> <input type="radio" name='health_exp' ng-model="uservals.health_exp" value="A" > No experience</label>
                    </div>
                    <div class="radio">
                        <label> <input type="radio" ng-model="uservals.health_exp" value="B" > Less than 3 years</label>
                    </div>
                    <div class="radio">
                        <label> <input type="radio" ng-model="uservals.health_exp" value="C" > 3-5 years</label>
                    </div>
                    <div class="radio">
                        <label> <input type="radio" ng-model="uservals.health_exp" value="D" > 5-10 years</label>
                    </div>
                    <div class="radio">
                        <label> <input type="radio" ng-model="uservals.health_exp" value="E" > More than 10 years</label>
                    </div>
                </div>

                <div class="form-group">
                    <h5 class="form-label">Do you have at least one-year experience in the following:</h5>
                        <span ng-show="!uservals.human_health  && !uservals.animal_health && !uservals.env_health
                                && !uservals.health_exp_none && attempted" class="error">Must select at least one</span>

                    <div class="checkbox">
                        <label><input type="checkbox" ng-true-value="1" ng-model="uservals.human_health" ng-click="uservals.health_exp_none = false"> Human Health</label>
                    </div>
                    <div class="checkbox">
                        <label> <input type="checkbox" ng-true-value="1"  ng-model="uservals.animal_health" ng-click="uservals.health_exp_none = false"> Animal Health</label>
                    </div>
                    <div class="checkbox">
                        <label> <input type="checkbox" ng-true-value="1"  ng-model="uservals.env_health" ng-click="uservals.health_exp_none = false"> Environmental Health</label>
                    </div>
                    <div class="checkbox">
                        <label> <input type="checkbox" ng-true-value="1"  name="health_exp_none" ng-model="uservals.health_exp_none" ng-click="(uservals.human_health = false);
                                                            (uservals.animal_health=false); (uservals.env_health=false); "> None of the above</label>
                    </div>
                </div>

                <div class="form-group" ng-show="idtype == 'member'">
                    <h5 class="form-label">Online/Inperson Course:</h5>

                    <div class="checkbox">
                        <label><input type="checkbox" ng-true-value="1" ng-model="uservals.online_course" > Online course</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-true-value="1" ng-model="uservals.inperson_course" > Inperson course</label>
                    </div>

                </div>

                <div class="form-group">
                    <br>
                    <h3>Current Work</h3>
                    <label class="form-label" for="job_title">What is your current job title and the name of the organization you work for?</label>
                    <input type="text" class="form-control" name="job_title" ng-model="uservals.job_title" required>
                </div>

                <div class="form-group">
                    <label class="form-label" for="job_title">List any additional work experience that you would like to highlight.</label>
                    <input type="text" class="form-control" name="current_organization" ng-model="uservals.organization" required>
                </div>

                    <div class="form-group">
                        <h5 class="form-label">Which sector does your organization best fall under</h5>
                        <span ng-show="!uservals.sector && attempted" class="error">Must select one</span>

                        <div class="radio">
                            <label><input type="radio" ng-model="uservals.sector" value="G" > Governmental</label>
                        </div>
                        <div class="radio">
                            <label> <input type="radio" ng-model="uservals.sector" value="N" > Nongovernmental / Nonprofit </label>
                        </div>
                        <div class="radio">
                            <label> <input type="radio" name="sector" ng-model="uservals.sector" value="P" > Private / For-Profit</label>
                        </div>
                    </div>

                    <div class="form-group">
                    <h5 class="form-label">Does the organization you work with fall under any of the following categories?</h5>
                        <span ng-show="!uservals.health_org_university  && !uservals.health_org_doh && !uservals.health_org_clinic
                                && !uservals.health_org_other && !uservals.health_org_none && attempted" class="error">Must select at least one</span>

                        <div class="checkbox">
                            <label><input type="checkbox" ng-true-value="1"  ng-model="uservals.health_org_university" ng-click="uservals.health_org_none = false"> University or any academic or research institution</label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox"  ng-true-value="1" ng-model="uservals.health_org_doh" ng-click="uservals.health_org_none = false"> Ministry / Department of Health</label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" ng-true-value="1"  ng-model="uservals.health_org_clinic" ng-click="uservals.health_org_none = false"> Medical clinic</label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox"  ng-true-value="1" ng-model="uservals.health_org_other" ng-click="uservals.health_org_none = false"> Other health-related organizations in any sector</label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" ng-true-value="1"  name="health_org_none" ng-model="uservals.health_org_none" ng-click="(uservals.health_org_university = false);
                                                            (uservals.health_org_doh=false); (uservals.health_org_clinic=false); (uservals.health_org_other=false);"> None of the above</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <br>
                        <h3>Administrative</h3>

                        <h5 class="form-label">How did you hear about us?</h5>
                        <span ng-show="!uservals.epicoreworkshop && !uservals.conference && !uservals.promoemail
                                        && !uservals.othercontact && attempted" class="error">Must select at least one</span>

                        <div class="checkbox">
                            <label> <input type="checkbox"  ng-true-value="1" ng-model="uservals.epicoreworkshop" > Attended an EpiCore workshop</label>
                            <label><input type="text" class="form-control" ng-model = "uservals.epicoreworkshop_type" name="epicoreworkshop_type" ng-if="uservals.epicoreworkshop" placeholder="please explain when and where" size="120" required></label>
                        </div>

                        <div class="checkbox">
                            <label> <input type="checkbox"  ng-true-value="1" ng-model="uservals.conference"> At a conference</label>
                            <label><input type="text" class="form-control" ng-model = "uservals.conference_type" name = "conference_type" ng-if="uservals.conference" placeholder="please explain when and where" size="120" required></label>
                        </div>

                        <div class="checkbox">
                            <label> <input type="checkbox"  ng-true-value="1" ng-model="uservals.promoemail"> I received a promotional email</label>
                            <label><input type="text" class="form-control" ng-model = "uservals.promoemail_type" name="promoemail_type" ng-if="uservals.promoemail" placeholder="please explain from which entity" size="120" required></label>
                        </div>

                        <div class="checkbox">
                            <label> <input type="checkbox"  ng-true-value="1" name='othercontact' ng-model="uservals.othercontact" > Other</label>
                            <label><input type="text" class="form-control" ng-model = "uservals.othercontact_type" name= "othercontact_type" ng-if="uservals.othercontact" placeholder="please explain when and where" size="120" required></label>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="checkbox-inline"> <input type="checkbox" name="info_accurate" ng-model="uservals.info_accurate" required> I attest that all the information provided in this form is true and accurate to the best of my abilities.</label>
                    </div>

                    <div class="form-group">
                    <label class="checkbox-inline"> <input type="checkbox" name="rfi_agreement" ng-model="uservals.rfi_agreement" required> I agree to Epicore's <a href="#/terms" target="_blank">Terms of Participation</a></label>
                    </div>

                <div class="form-group">

<!--

<ul>
  <li ng-repeat="(key, errors) in applyForm.$error track by $index"> <strong>{{ key }}</strong> errors
    <ul>
      <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
    </ul>
  </li>
</ul>
-->


                    <button type="submit" ng-click="signup(uservals, applyForm.$valid)" class="submit btn btn-primary text-uppercase">Submit</button>
                </div>
            </form>
            <div>
                <p class="intro error" name="signup_message" ><strong ng-bind-html="signup_message" ></strong></p>
            </div>

            <div>
                <p>If you would no longer like to be an EpiCore member please email <a href="mailto:info@epicore.org">info@epicore.org</a></p>
            </div>
        </div><!--col-->
    </div><!--row-->
</div><!--container-->
</div><!--wrapper-->
<div ng-include src="'footer.html'"></div>
<script>
        // form validation
        $.validator.setDefaults({ ignore: ":hidden:not(select)" }); //for all select
        $("#applyForm").validate(
                {
                    rules: {
                        email: {
                            isemail: true // valid email address
                        }
                    },
                    messages: {
                        email: {
                            isemail: "must be a valid email"
                        }
                    }
                });
        $.validator.addMethod("isemail", function(value) {
            return /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(value);
        });

</script>
