<div ng-include src="'header_new.html'"></div>
<div class="jumbotron page">
<div class="gradient-overlay light"></div>
    <div class="container">
        <h1><span class="tagline text-uppercase">Thank you</span></h1>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h2>Thank you for your interest in EpiCore!</h2>
                <p>We are excited you are considering becoming one of the select health professionals who will shape the future of disease detection! Your application has been successfully submitted and  you should have received a confirmation email by now.</p>
            </div>
        </div>
    </div><!--container-->
</div><!--wrapper-->
