<div class="container">
    <span class="title">Epicore</span>
</div>

<div class="container main">
        <div class="col-xs-12 wbg" ng-controller="approvalController" ng-init="predicate='apply_date_iso'; reverse=!reverse">
            <h3>Application Approval</h3>
            Set the user status by clicking on one of the status buttons on the right side of the table below.  The user will be notified by email when their status is set
            to Accepted, Denied, or Approved.<br><br>

            <b>Accepted</b>: user has been accepted to take the training course.<br>
            <b>Approved</b>: user has taken the training course and is approved to use the Epicore platform.<br>
            <b>Inactive</b>: user has not been accepted to take the training course yet, and does not have access to the Epicore platform.<br>
            <b>Denied</b>: user was denied, and does not have access to the Epicore platform.<br>
            <b>Unsubscribed</b>: user was de-activated and does not have access to the Epicore platform.<br><br>

            <a href="data/approval.csv" class="bxitnlink">Download approval csv file <i class="fa fa-download"></i></a>
            <br><br>
            Send Reminder Email Options:<br>
            <button  type="button" ng-click="sendReminder('preapprove_reminder')">Set Password (Pre-approved)</button>
            <button  type="button" ng-click="sendReminder('setpassword_reminder')">Set Password (Accepted)</button>
            <button  type="button" ng-click="sendReminder('training_reminder')">Finish Training</button>
            <button  type="button" ng-click="sendReminder('launch_reminder')">Epicore Launched</button><br><br>

            Click on a table heading to sort the table or filter the table using the search tool.<br><br>
            <i class="fa fa-search"></i> <input ng-model="query"> <br> <br>
            <table class='table table-hover table-bordered' style="font-size: small">
                <tr>
                    <th width="5%">#</th>
                    <th width="10%"><a href="" ng-click="predicate = 'apply_date_iso'; reverse=!reverse">Application Date</a></th>
                    <th width="10%"><a href="" ng-click="predicate = 'approve_date_iso'; reverse=!reverse">Approval Date</a></th>
                    <th width="5%"><a href="" ng-click="predicate = 'member_id'; reverse=!reverse">Member #</a></th>
                    <th width="20%"><a href="" ng-click="predicate = 'lastname'; reverse=!reverse">Name</a></th>
                    <th width="5%"><a href="" ng-click="predicate = 'country'; reverse=!reverse">Country</a></th>
                    <th width="5%"><a href="" ng-click="predicate = 'pword'; reverse=!reverse">Pword<br> Set</a></th>
                    <th width="5%">Course Type</th>
                    <th width="5%"><a href="" ng-click="predicate = 'status'; reverse=!reverse">User Status</a></th>
                    <th width="15%">Accept or Approve</th>
                    <th width="15%">Deny or Unsubscribe</th>
                </tr>
                <tr ng-repeat="applicant in applicants | filter:query | orderBy:predicate:reverse" >
                    <td>{{$index+1}}</td>
                    <td>{{applicant.apply_date}}</td>
                    <td>{{applicant.approve_date}}</td>
                    <td>{{applicant.member_id}}</td>
                    <td>{{applicant.firstname}} {{applicant.lastname}}
                        <a href="" ng-click="isCollapsed1 = !isCollapsed1"><i class="fa fa-plus-square-o"></i></a>
                        <ul ng-show="isCollapsed1" style="list-style-type: none">
                            <li><b>email:</b> {{applicant.email}}</li>
                            <li><b>City:</b> {{applicant.city}}</li>
                            <li><b>State/Province:</b> {{applicant.state}}</li>
                            <li><b>Job tite:</b> {{applicant.job_title}}</li>
                            <li><b>Organization:</b> {{applicant.organization}}</li>

                            <li><b>Sector:</b>
                                <span ng_show="applicant.sector == 'G'">Governmental</span>
                                <span ng_show="applicant.sector == 'N'">Nongovernmental / Nonprofit </span>
                                <span ng_show="applicant.sector == 'P'">Private / For-Profit</span>
                            </li>
                            <li><b>Organization Category:</b>
                                <span ng_show="applicant.health_org_university && !applicant.health_org_none">University or any academic or research institution</span>
                                <span ng_show="applicant.health_org_doh && !applicant.health_org_none">Ministry / Department of Health</span>
                                <span ng_show="applicant.health_org_clinic && !applicant.health_org_none">Medical clinic</span>
                                <span ng_show="applicant.health_org_other && !applicant.health_org_none">Other health-related organizations</span>
                                <span ng_show="applicant.health_org_none">No category applies</span>
                            </li>
                            <li ng-show="applicant.bachelors_type || applicant.gradstudent_type || applicant.masters_type || applicant.medical_type || applicant.doctorate_type || applicant.otherdegree_type"><b>Degrees:</b>
                                <span ng-show="applicant.bachelors_type">{{applicant.bachelors_type}}, </span>
                                <span ng-show="applicant.gradstudent_type">{{applicant.gradstudent_type}}, </span>
                                <span ng-show="applicant.masters_type">{{applicant.masters_type}}, </span>
                                <span ng-show="applicant.medical_type">{{applicant.medical_type}}, </span>
                                <span ng-show="applicant.doctorate_type">{{applicant.doctorate_type}}, </span>
                                <span ng-show="applicant.otherdegree_type">{{applicant.otherdegree_type}}</span>
                            </li>

                            <li><b>Education:</b>
                                <span ng-show="applicant.universities">Universities: {{applicant.universities}} </span>
                                <span ng-show="applicant.university1">
                                    <br><b>School1:</b> {{applicant.university1}}, {{applicant.school_country1}}
                                    <br>major: {{applicant.major1}}
                                    <br>degree: {{applicant.degree1}}  <span ng-show="applicant.degree1 == 'other'"> - {{applicant.other_degree1}}}</span>
                                </span>
                                 <span ng-show="applicant.university2">
                                    <br><b>School2:</b> {{applicant.university2}}, {{applicant.school_country2}}
                                    <br>major: {{applicant.major2}}
                                    <br>degree: {{applicant.degree2}}  <span ng-show="applicant.degree2 == 'other'"> - {{applicant.other_degree2}}}</span>
                                </span>
                                <span ng-show="applicant.university3">
                                    <br><b>School3:</b> {{applicant.university3}}, {{applicant.school_country3}}
                                    <br>major: {{applicant.major3}}
                                    <br>degree: {{applicant.degree3}} <span ng-show="applicant.degree3 == 'other'"> - {{applicant.other_degree3}}</span>
                                </span>
                            </li>

                            <li><b>Basic Knowledge:</b>
                                <span ng-show="applicant.clinical_med_adult">Clinical Medicine – Adult, </span>
                                <span ng-show="applicant.clinical_med_pediatric">Clinical Medicine – Pediatric, </span>
                                <span ng-show="applicant.clinical_med_vet">Clinical Medicine – Vet, </span>
                                <span ng-show="applicant.research">Research, </span>
                                <span ng-show="applicant.microbiology">microbiology, </span>
                                <span ng-show="applicant.virology">virology, </span>
                                <span ng-show="applicant.parasitology">parasitology, </span>
                                <span ng-show="applicant.vaccinology">vaccinology, </span>
                                <span ng-show="applicant.epidemiology">epidemiology, </span>
                                <span ng-show="applicant.biotechnology">biotechnology, </span>
                                <span ng-show="applicant.pharmacy">pharmacy, </span>
                                <span ng-show="applicant.publichealth">public health, </span>
                                <span ng-show="applicant.disease_surv">disease surveillance, </span>
                                <span ng-show="applicant.informatics">informatics, </span>
                                <span ng-show="applicant.biostatistics">biostatistics, </span>
                                <span ng-show="applicant.other_knowledge">{{applicant.other_knowledge_type}}</span>
                            </li>
                            <li><b>FETP Training:</b>
                                <span ng_show="applicant.training == 0">none</span>
                                <span ng_show="applicant.fetp_training">{{applicant.fetp_training}}</span>
                            </li>
                            <li><b>Years of Experience:</b>
                                <span ng_show="applicant.health_exp == 'A'">none</span>
                                <span ng_show="applicant.health_exp == 'B'">less than 3 years</span>
                                <span ng_show="applicant.health_exp == 'C'">3-5 years</span>
                                <span ng_show="applicant.health_exp == 'D'">5-10 years</span>
                                <span ng_show="applicant.health_exp == 'E'">More than 10 years</span>
                            </li>
                            <li><b>Heard about Epicore by:</b>
                                <span ng-show="applicant.googlesearch">Googlesearch, </span>
                                <span ng-show="applicant.conference">Conference: {{applicant.conference_type}}, </span>
                                <span ng-show="applicant.nextgenu">NextGenU, </span>
                                <span ng-show="applicant.epicoreworkshop">Workshop: {{applicant.epicoreworkshop_type}}, </span>
                                <span ng-show="applicant.promoemail">Email: {{applicant.promoemail_type}}, </span>
                                <span ng-show="applicant.othercontact">Other: {{applicant.othercontact_type}}</span>
                            </li>
                        </ul>
                    </td>
                    <td>{{applicant.country}}</td>
                    <td>{{applicant.pword}}</td>
                    <td>
                        <span ng-show="applicant.online_course">Online</span>
                        <span ng-show="applicant.inperson_course">Inperson</span>
                    </td>
                    <td>
                        <span ng_show="applicant.status == 'Pending'">Accepted</span>
                        <span ng_show="applicant.status != 'Pending'">{{applicant.status}}</span>
                    </td>
                    <td>
                        <button  type="button" ng-click="approveApplicant(applicant.maillist_id,'pending')">Accept</button>
                        <button  type="button" ng-click="approveApplicant(applicant.maillist_id,'approved')">Approve</button>
                    </td>
                    <td>
                        <button  type="button" ng-click="approveApplicant(applicant.maillist_id,'declined')">Deny</button>
                        <button  type="button" ng-click="approveApplicant(applicant.maillist_id,'unsubscribed')">Unsubscribe</button>
                    </td>

                </tr>
            </table>
        </div><!--wbg-->
</div><!--container-->