<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1>Close RFI</h1>
    </div>
</div>

<div class="wrapper dashboard">
<div class="container">
    <div class="row">
        <div id="form-container" class="col-xs-12 mb24">
            <p><a href="#/events2/{{id}}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Back to RFI</a></p>
            <p>
            <strong>Title:</strong> {{eventsList.title}}<br>
            <strong>Date:</strong> {{eventsList.event_date}}
            </p>
            <p><strong>NOTE: All Responders originally contacted for this RFI will be notified.</strong></p>

        <!-- CHANGE STATUS FORM (for owner of event) -->
        <form name="changeStatusForm">
            <div class="form-group">

            <label class="" for="reply">Notes (optional)</label>
            <textarea ng-model="formData.notes" style="height:100px" class="form-control" name="reply" id="notesfield" placeholder=""></textarea>
            </div>

            <div ng-if="validResponses > 0">
                <h3>Please assess all responder responses in the message history below before closing this RFI.</h3><br>
                <span>Note: all ratings and feedback on this page are internal, are not shared with the responder, and are for requester and administrative use only.</span><br>
                <span><i class="fa fa-thumbs-o-down"></i> The response was not helpful</span><br>
                <span><i class="fa fa-thumbs-o-up green"></i> The response was helpful but did not provide verification information</span> <br>
                <span><i class="fa fa-pencil"></i> The response was helpful. It provided verification information and will be used for dissemination.</span><br><br>

                <div ng-include="'partials/messagehistory2.html'" ng-init="closerfi='1'" ></div><br>
            </div>

            <div class="form-group" ng-show="outcome.phe_purpose == 'V'">
                <h3>Please choose one of the following as the outcome of your RFI:</h3>
                <label class="radio"> <input type="radio" ng-model="outcome.answer" value="VP" ng-required="!outcome.answer" > <b>Verified (positive):</b> Information provided in the responses supports verification of the PHE.</label>
                <label class="radio"> <input type="radio" ng-model="outcome.answer" value="VN" ng-required="!outcome.answer" > <b>Verified (negative):</b> Information provided in the responses refutes verification of the PHE.</label>
                <label class="radio"> <input type="radio" ng-model="outcome.answer" value="UV" ng-required="!outcome.answer" > <b>Unverified:</b> The PHE can neither be supported nor refuted based on the information provided in the responses.</label>
            </div>

            <div class="form-group" ng-show="outcome.phe_purpose == 'U'">
                <h3>Please choose one of the following as the outcome of your RFI:</h3>
                <label class="radio"> <input type="radio" ng-model="outcome.answer" value="UP" ng-required="!outcome.answer" > <b>Updated:</b> Response(s) provided additional information that was relevant to the update request, regarding the PHE.</label>
                <label class="radio"> <input type="radio" ng-model="outcome.answer" value="NU" ng-required="!outcome.answer" > <b>No Update:</b> Response(s) did not provide additional information that was relevant to the update request, regarding the PHE.</label>
            </div>


            <div class="form-group" ng-if="outcome.answer == 'VP' || outcome.answer == 'VN' || outcome.answer == 'UP' ">
                <h3>RFI Summary</h3>

                <b>Title:</b>
                <input  type="text" class="form-control" ng-model="summary.phe_title" id="title" placeholder='event title...' value="" required>

                <br>
                <p><b>Initial source: </b>{{eventsList.source}} : {{eventsList.source_details}}</p>

                <p><b>Start date of verification process: </b>{{eventsList.event_date}}</p>

                <p><b>End date of verification process: </b>{{today_date}}</p>
                <p><b>RFI outcome:</b>
                    <span ng-if="outcome.answer=='VP'">Verified (positive)</span>
                    <span ng-if="outcome.answer=='VN'">Verified (negative)</span>
                    <span ng-if="outcome.answer=='UP'">Updated</span>
                </p>

                <div class="form-group">
                    <b>PHE description: </b>The PHE description provides a brief, high level summary of the PHE.
                        <span class="red">requesters should use the following standard format when completing the PHE description:</span>
                    <ul>
                        <li>Paragraph 1: Briefly (3-4 sentences) describe the PHE that was originally reported in the RFI (location, time, affected population, and health condition).
                            Include the source of the information (e.g. media reports) and any key epidemiologic details.
                        </li>
                        <li>Paragraph 2: Briefly (3-4 sentences) describe any information received through the RFI process that helped to support or refute the PHE.
                            The information should be kept at a high level and should not directly identify the source. Include information such as test results or reports of information from official sources should be included here.
                        </li>
                        <li>Paragraph 3: Include a single sentence that clearly states whether the PHE was supported or refuted.
                        </li>
                    </ul>

                    <textarea class="form-control" style="height:300px" ng-model="summary.phe_description" id="phe_description" placeholder="PHE description..." required></textarea>
                </div>

                <div class="form-group">
                    <p><b>Additional information: </b><span class="red">requesters may use this optional field to provide additional information such as details about the PHE or detailed information gathered during the verification process or provided by responders.</span></p>
                    <textarea class="form-control" style="height:300px" ng-model="summary.phe_additional" id="phe_additional" placeholder="Additional information..." ></textarea>
                </div>
            </div>

            <div class="form-group" ng-if="outcome.answer">
                <button ng-click="changeRequestStatus(formData, 'Close', changeStatusForm.$valid)" ng-disabled="submitDisabled" type="submit" class="submit btn btn-primary">Close RFI</button>
            </div>

        </form>

            <div ng-if="close_message">
                <p class="intro error red" name="close_message" ><strong ng-bind-html="close_message"></strong></p>
            </div>
        </div>
    </div><!--row-->
</div><!--container main-->
</div><!--wrapper-->
