<div ng-include src="'header.html'"></div>

<div class="container main">
<div class="row">
    <div class="col-xs-12 wbg">
        <p><i class="fa fa-arrow-circle-left"></i> <a href="#/events">Back to listing</a></p>

        <h4>Request For information details</h4>
        <!-- REPLY FORM (for FETPS only who received the event) -->
        <div ng-show="!isOrganization">
            <p>Do you have anything to contribute regarding this outbreak?</p>
            <a href="#/reply/{{id}}" class="nav-button">Yes, respond to this request</a>
            <a href ng-click="sendResponse({response_permission: '0'})" class="nav-button">No, not at this time</a>
        </div>
        <!-- END REPLY FORM -->

        <!-- OWNER of event gets additional options to close event or send followup email -->
        <span ng-show="isAuthorizedToFollowup">
            <span ng-if="changeStatusText == 'Close'">
                <a href="#/followup/{{id}}" class="nav-button">Send follow-up email to all fetps</a>
            </span>
            <a href="#/{{changeStatusType}}/{{id}}" class="nav-button">{{changeStatusText}} request</a> 
        </span>
        <!-- END CLOSE FORM (for owner of event) -->
    </div>
</div><!--row-->

<div class="row">
    <div class="col-xs-12 wbg">
        <!-- Show Event History Messages -->

        <div class="event-item" ng-repeat="history_item in eventsList.history">
            <!-- Original Event Request Message in same organization (Moderator or FETP)-->
            <div ng-if="(history_item.type == 'Event Request')">
                    <h4><b>Title:</b> {{history_item.title}}<br>
                        <b>Location:</b> {{history_item.location}}<br>
                        <b>Date:</b> {{history_item.date}}</h4>
            </div>
        </div>

        <h5>Event message history</h5>
            <div class="event-item" ng-repeat="history_item in eventsList.history">
            
                <!-- Followup messages from Moderator to FETP -->
                <div ng-if="history_item.type == 'Moderator Response'">
                    <div ng-if="history_item.fetp_count > 1">
                        <!-- Followup messages for all FETPs in same organization (Moderator only)-->
                        <div class="show-message" ng-if="(history_item.person_id == userInfo.uid) || (history_item.organization_id == userInfo.organization_id)">
                            <a href="" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-plus-square-o"></i></a>
                            {{history_item.person}} sent followup to all FETPs, {{history_item.date}}
                            <div class="show-response" ng-show="isCollapsed">
                                <p ng-bind-html="history_item.text | to_trusted"></p>
                            </div>
                        </div>
             
                        <!-- Followup messages for all FETPs not in same organization (Moderator or FETP) -->
                        <div class="show-message" ng-if="(history_item.organization_id != userInfo.organization_id)">
                            <a href="" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-plus-square-o"></i></a>
                            followup sent to all FETPs, {{history_item.date}}
                            <!--<a ng-if="userInfo.fetp_id" class="nav-button" href="#/reply/{{id}}">Reply</a>-->
                            <div class="show-response" ng-show="isCollapsed">
                                <p ng-bind-html="history_item.text | to_trusted"></p>
                            </div>
                        </div>
                    </div>

                    <div ng-if="history_item.fetp_count == 1">
                        <!-- Followup messages for one FETP in same organization (Moderator only)-->
                        <div  class="show-message" ng-if="(history_item.person_id == userInfo.uid) || (history_item.organization_id == userInfo.organization_id)">
			                <a href="" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-plus-square-o"></i></a>                        
                            {{history_item.person}} sent followup to 1 FETP, {{history_item.date}}
                            <div class="show-response" ng-show="isCollapsed">
                                <p ng-bind-html="history_item.text | to_trusted"></p>
                            </div>
                        </div>

                        <!-- Followup messages for one FETP not in same organization (Moderator only)-->
                        <div  class="show-message" ng-if="(history_item.organization_id != userInfo.organization_id) && userInfo.uid)">
                            <a href="" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-plus-square-o"></i></a>
                            followup sent to FETP, {{history_item.date}}
                            <!--<a ng-if="userInfo.fetp_id" class="nav-button" href="#/reply/{{id}}">Reply</a>-->
                            <div class="show-response" ng-show="isCollapsed">
                                <p ng-bind-html="history_item.text | to_trusted"></p>
                            </div>
                        </div>
                        <!-- Followup messages for one FETP (FETP only)-->
                        <div  class="show-message" ng-if="(history_item.fetp_id == userInfo.fetp_id)">
                            <a href="" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-plus-square-o"></i></a>
                            followup sent to You, {{history_item.date}}
                            <!--<a ng-if="userInfo.fetp_id" class="nav-button" href="#/reply/{{id}}">Reply</a>-->
                            <div class="show-response" ng-show="isCollapsed">
                                <p ng-bind-html="history_item.text | to_trusted"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FETP Response Messages (Moderator or FETP)-->
                <div  class="show-message" ng-if="(history_item.type == 'FETP Response') && (userInfo.uid || (history_item.fetp_id == userInfo.fetp_id))">
                     <a href="" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-plus-square-o"></i></a>
                    {{history_item.type}}, {{history_item.date}}
                    <a ng-if="(history_item.organization_id == userInfo.organization_id) " class="nav-button" href="#/followup/{{id}}/{{history_item.response_id}}">Reply</a>
                    <div class="show-response" ng-show="isCollapsed">
				        <p ng-bind-html="history_item.text | to_trusted"></p>
                    </div>
                </div>


                <!-- Original Event Request Message in same organization (Moderator or FETP)-->
                <div  class="show-message" ng-if="(history_item.type == 'Event Request') && (history_item.organization_id == userInfo.organization_id)">
                    <a href="" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-plus-square-o"></i></a>
                    {{history_item.person}} sent original event request, {{history_item.date}}
                    <div class="show-response" ng-show="isCollapsed">
                        <p><strong>Title:</strong> {{history_item.title}}<br>
                        <strong>Location:</strong> {{history_item.location}}</p>
                        <p ng-bind-html="history_item.personalized_text | to_trusted"></p>
                        <p ng-bind-html="history_item.text | to_trusted"></p>
                    </div>
                </div>

                <!-- Original Event Request Message not in same organization (Moderator)-->
                <div  class="show-message" ng-if="(history_item.type == 'Event Request') && (history_item.organization_id != userInfo.organization_id)">
                    <a href="" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-plus-square-o"></i></a>
                    original event request sent, {{history_item.date}}
                    <div class="show-response" ng-show="isCollapsed">
                        <p><strong>Title:</strong> {{history_item.title}}<br>
                        <strong>Location:</strong> {{history_item.location}}</p>
                        <p ng-bind-html="history_item.personalized_text | to_trusted"></p>
                        <p ng-bind-html="history_item.text | to_trusted"></p>
                    </div>
                </div>

                <!-- Event open/closed status message in same organization message (Moderator) -->
                <div  class="show-message" ng-if="(history_item.type == 'Event Notes') && (history_item.organization_id == userInfo.organization_id)">
                    <a href="" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-plus-square-o"></i></a>    
                {{history_item.person}} {{history_item.status}} event request, {{history_item.date}}
                    <div class="show-response" ng-show="isCollapsed">
                        <p ng-bind-html="history_item.text | to_trusted"></p>
                    </div>
                </div>

                <!-- Event open/closed status message not in same organization message (Moderator or FETP)-->
                <div  class="show-message" ng-if="(history_item.type == 'Event Notes') && (history_item.organization_id != userInfo.organization_id)">
                    <a href="" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-plus-square-o"></i></a> 
                    {{history_item.status}} event request, {{history_item.date}}
                    <div class="show-response" ng-show="isCollapsed">
                        <p ng-bind-html="history_item.text | to_trusted"></p>
                    </div>
                </div>

        </div><!--event-item-->
    </div>
</div><!--row-->
</div><!--container main-->
