<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1><span ng-if="changeStatusText != 'Close'">Closed </span><span>RFI Details</span></h1>
    </div>
</div>

<div class="wrapper dashboard">
<div class="container">
<div class="row">
    <div class="col-xs-12 mb24">

        <p><a href="#/events" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Back to EpiCore Dashboard</a></p>

        <!-- REPLY FORM (for FETPS only who received the event) -->
        <div ng-show="!isOrganization && isAuthorizedFETP">
            <p ng-if="changeStatusText != 'Close'">This RFI is closed, but if you have anything to contribute, you can click on “Respond to this RFI” below and your response will be sent to the requesting moderator. </p>
            <p ng-if="changeStatusText == 'Close'">Do you have anything to contribute for this outbreak? </p>
            <a href="#/reply/{{id}}" class="btn btn-primary"><span ng-if="changeStatusText == 'Close'">Yes, </span>Respond to this RFI</a>
            <span ng-if="changeStatusText == 'Close'" ng-show="!submitDisabled">
                <a href ng-click="sendResponse({response_permission: '0'})" class="btn btn-primary">No, not at this time</a>
            </span>
            <span ng-show="submitDisabled">
                <i class="fa fa-spinner fa-spin"></i> Please wait...
            </span>
        </div>
        <!-- END REPLY FORM -->

        <!-- OWNER of event gets additional options to close event or send followup email -->
        <span ng-show="isAuthorizedToFollowup && eventsList.event_id">
            <span ng-if="changeStatusText == 'Close'">
                <a href="#/followup/{{id}}" class="btn btn-secondary btn-tab">Send follow-up message to all members</a>
            </span>
            <span>
                <a href="#/{{changeStatusType}}/{{id}}" class="btn btn-secondary btn-tab" ng-click="checkStatus()" >{{changeStatusText}} RFI</a>
            </span>
            <span ng-if="userInfo.superuser">
                <a href="#/request_edit/{{id}}" class="btn btn-secondary btn-tab">Edit RFI</a>
            </span>
            <span ng-if="userInfo.superuser">
                <a href="" class="btn btn-secondary btn-tab" ng-click="deleteEvent(id)">Delete RFI</a>
            </span>
        </span>
        <!-- END CLOSE FORM (for owner of event) -->
    </div>
</div><!--row-->

<div class="row" ng-show="isAuthorizedFETP || (isOrganization && eventsList.event_id)">
    <div class="col-xs-12">
        <!-- Show Event History Messages -->

        <div class="event-item" ng-repeat="history_item in eventsList.history">
            <!-- Original Event Request Message in same organization (Moderator or FETP)-->
            <div ng-if="(history_item.type == 'Event Request')">
                    <p><strong>Title:</strong> {{history_item.title}}<br>
                        <strong>Disease:</strong> {{history_item.disease}}<br>
                        <strong>Location:</strong> {{history_item.location}}<br>
                        <strong>Date:</strong> {{history_item.date}}</p>
                        <strong>Number of members on RFI:</strong> {{num_fetp}}<br><br>
            </div>
        </div>

        <div ng-include="'partials/messagehistory.html'" ng-init="closerfi=''"></div><br>

    </div>
</div><!--row-->

    <div class="row" ng-hide="(isAuthorizedFETP || (isOrganization && eventsList.event_id)) || isAuthorizedFETP == null || isOrganization == null">
    <!--<div class="row" ng-show="!isAuthorizedFETP && !isOrganization || !eventsList.event_id" >-->
        <div class="col-xs-12">
            <p>You are not authorized to view this event.</p>
        </div>
    </div>

</div><!--container-->
</div><!--wrapper-->



