<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1><span>RFI List</span></h1>
    </div>
</div>
        
<div class="wrapper secondary-nav">
    <div class="container">
        <span ng-show="onOpen" class="text-uppercase"><span class="border-bottom tab">Open events</span><span class="tab"><a href="#/events/closed" class="inherit">Closed events</a></span></span>
        <span ng-show="!onOpen" class="text-uppercase"><span class="tab"><a href="#/events" class="inherit">Open events</a></span><span class="border-bottom tab">Closed events</span></span>
        <span ng-show="isOrganization" class="text-uppercase"><a href="#/map" ><i class="fa fa-arrow-circle-right"></i> Members Map</a></span>
    </div>
</div>

<div class="wrapper dashboard">
<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <p class="red" ng-if="onOpen && unclosed > 0" > * You have {{unclosed}} RFI(s) highlighted below that are past due closing. </p>
            <p class="red" ng-if="num_notrated_responses > 0">
                <span ng-if="onOpen">* You have received responses after closing one or more RFIs that are still unrated. Please go to the "CLOSED EVENTS" tab to locate and rate these responses.</span>
                <span ng-if="!onOpen">* Please rate the unrated responses in the RFI(s) highlighted below.</span>
            </p>
            <p><span class="search-wrapper"><i class="fa fa-search"></i> <input ng-model="query"></span></p>

            <!-- view for organizations -->
        <div ng-show="isOrganization" ng-init="predicate = 'iso_create_date'; reverse=!reverse">

        <table class='small table table-hover table-bordered'>
            <tbody>
                <tr>
                    <th width="50px" ng-click="predicate = 'event_id_int'; reverse=!reverse">ID <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'title'; reverse=!reverse">Title <i class="fa fa-sort"></i></th>
                    <th width="110px" ng-click="predicate = 'disease'; reverse=!reverse">Disease <i class="fa fa-sort"></i></th>
                    <th width="110px" ng-click="predicate = 'iso_create_date'; reverse=!reverse">Create Date <i class="fa fa-sort"></i></th>
                    <th width="110px" ng-click="predicate = 'person'; reverse=!reverse">Moderator <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'location'; reverse=!reverse">Location <i class="fa fa-sort"></i></th>
                    <th width="100px" ng-click="predicate = 'country'; reverse=!reverse">Country <i class="fa fa-sort"></i></th>
                    <th width="160px">Requests Sent Date<br> (# recipients)</th>
                    <th width="50px">Replies with content</th>
                    <th width="50px">Replies nothing to contribute</th>
                </tr>
                <tr><th colspan="10" ng-click="isCollapsed1 = !isCollapsed1" class="link"><i ng-show="isCollapsed1" class="fa fa-plus"></i><i ng-show="!isCollapsed1" class="fa fa-minus"></i> Initiated by you</th></tr>
                <tr ng-show="!isCollapsed1" ng-repeat="event in eventsList['yours'] | filter:query | orderBy:predicate:reverse" ng-class="{selected : (onOpen && (event.iso_create_date < (date | date:'yyyy-MM-dd'))) || !onOpen && (event.num_notrated_responses > 0)}">
                    <td>{{event.event_id_int}}</td>
                    <td><a href="#/events/{{event.event_id}}">{{event.title}}</a></td>
                    <td>{{event.disease}}</td>
                    <td>{{event.create_date}}</td>
                    <td>{{event.person}}</td>
                    <td>{{event.location}}</td>
                    <td>{{event.country}}</td>
                    <td>
                    <span ng-repeat="followup in event.num_followups" >
                        {{followup.date}} ({{followup.num}}) <br>
                    </span>
                    </td>
                    <td>
                        <span>{{event.num_responses_content}}</span>
                    </td>
                    <td>
                        <span>{{event.num_responses_nocontent}}</span>
                    </td>
                </tr>
                <tr><th colspan="10" class="link" ng-click="isCollapsed2 = !isCollapsed2"><i class="fa fa-plus" ng-show="isCollapsed2"></i><i ng-show="!isCollapsed2" class="fa fa-minus"></i> Initiated by your organization (<span ng-if="userInfo.organization_id != 4"> {{userInfo.organization}}</span> <span ng-if="userInfo.organization_id == 4"> ProMED </span>)</th></tr>
                <tr ng-show="!isCollapsed2" ng-repeat="event in eventsList['yourorg'] | filter:query | orderBy:predicate:reverse">
                    <td>{{event.event_id_int}}</td>
                    <td><a href="#/events/{{event.event_id}}">{{event.title}}</a></td>
                    <td>{{event.disease}}</td>
                    <td>{{event.create_date}}</td>
                    <td>{{event.person}}</td>
                    <td>{{event.location}}</td>
                    <td>{{event.country}}</td>
                    <td>
                    <span ng-repeat="followup in event.num_followups">
                    {{followup.date}} ({{followup.num}})<br>
                    </span>
                    </td>
                    <td>
                        <span>{{event.num_responses_content}}</span>
                    </td>
                    <td>
                        <span>{{event.num_responses_nocontent}}</span>
                    </td>
                </tr>
                <tr><th colspan="10" class="link" ng-click="isCollapsed3 = !isCollapsed3"><i class="fa fa-plus" ng-show="isCollapsed3"></i><i ng-show="!isCollapsed3" class="fa fa-minus"></i> Initiated by others</th></tr>
                <tr ng-show="!isCollapsed3" ng-repeat="event in eventsList['other'] | filter:query | orderBy:predicate:reverse" >
                    <td>{{event.event_id_int}}</td>
                    <td><a href="#/events/{{event.event_id}}">{{event.title}}</a></td>
                    <td>{{event.disease}}</td>
                    <td>{{event.create_date}}</td>
                    <td></td>
                    <td>{{event.location}}</td>
                    <td>{{event.country}}</td>
                    <td>
                    <span ng-repeat="followup in event.num_followups">
                    {{followup.date}} ({{followup.num}})<br>
                    </span>
                    </td>
                    <td>
                        <span>{{event.num_responses_content}}</span>
                    </td>
                    <td>
                        <span>{{event.num_responses_nocontent}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <!-- view for FETPs -->
        <div ng-show="!isOrganization" ng-init="predicate = 'last_send_date'; reverse=reverse">
        <table class='small table table-hover table-bordered'>
            <tbody>
                <tr>
                    <th ng-click="predicate = 'title'; reverse=!reverse">Title <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'disease'; reverse=!reverse">Disease <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'location'; reverse=!reverse">Location <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'last_send_date'; reverse=!reverse">Request Received Date <i class="fa fa-sort"></i></th>
                    <th>Your Response Date</th>
                </tr>
                <tr ng-repeat="event in eventsList | filter:query | orderBy:predicate:reverse">
                    <td><a href="#/events/{{event.event_id}}">{{event.title}}</a></td>
                    <td>{{event.disease}}</td>
                    <td>{{event.location}}</td>
                    <td>
                        <p ng-repeat="send_date in event.send_dates">
                        {{send_date}}
                        </p>
                    </td>
                    <td>
                        <p ng-repeat="response_date in event.response_dates">
                            {{response_date}}
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
            <span ng-show="isRouteLoading">
                <i class="fa fa-spinner fa-spin"></i> Please wait...
            </span>
    </div>
</div>
</div>
</div><!--wrapper-->
