<div ng-if="!mobile || !userInfo.fetp_id" ng-include src="'header.html'"></div>
<div ng-if="mobile && userInfo.active=='Y' && userInfo.fetp_id" ng-include src="'header_mobile.html'"></div>

<div class="jumbotron dashboard">
    <div class="container">
        <h1><span>RFI Metrics Dashboard</span></h1>
    </div>
</div>

<div class="wrapper secondary-nav" ng-show="(dashboardType != 'PR')">
    <div class="container">
        <span ng-show="onOpen" class="text-uppercase"><span class="border-bottom tab">Open events</span><span class="tab"><a href="#/rfi_dashboard/closed" class="inherit">Closed events</a></span></span>
        <span ng-show="!onOpen" class="text-uppercase"><span class="tab"><a href="#/rfi_dashboard" class="inherit">Open events</a></span><span class="border-bottom tab">Closed events</span></span>
    </div>
</div>

<div class="wrapper dashboard" ng-if="userInfo.superuser" >
<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <div class="form-group" ng-show="isOrganization" ng-if="!onOpen">
                <label class="form-label" >RFI List Filter</label>
                <select ng-options="month as month.name for month in event_months " ng-model="selected_month" ng-change="getEventMonth(selected_month)"></select>
            </div>

            <!--<p><span class="search-wrapper"><i class="fa fa-search"></i> <input ng-model="query"></span></p>-->

            <!-- view for organizations -->
            <div ng-show="isOrganization" ng-init="predicate = 'iso_create_date';" class="table-responsive">
                <table class='small table table-hover table-bordered'>
                    <tbody>
                        <tr>
                            <th width="50px" ng-click="predicate = 'event_id_int'; reverse=!reverse">ID <i class="fa fa-sort"></i></th>
                            <th ng-click="predicate = 'title'; reverse=!reverse">Title <i class="fa fa-sort"></i></th>
                            <th width="110px" ng-click="predicate = 'iso_create_date'; reverse=!reverse" class="nowrap-mobile">RFI Date <i class="fa fa-sort"></i></th>
                            <th width="110px" ng-click="predicate = 'person'; reverse=!reverse" class="nowrap-mobile">Requester <i class="fa fa-sort"></i></th>
                            <th width="50px"><span data-toggle="tooltip" title="current verfication status of the RFI">RFI Status</span></th>
                            <th width="50px"><span data-toggle="tooltip" title="information about the final outcome of the verification process">Outcome</span></th>
                            <th width="50px"><span data-toggle="tooltip" title="date when rfi was closed">Closure Date</span></th>
                            <th width="50px"><span data-toggle="tooltip" title="rfi had at least one repsonse">Answered</span></th>
                            <th width="70px"><span data-toggle="tooltip" title="time delta between rfi date and first response">Reaction Time (days, hrs:min)</span></th>
                            <th width="200px"><span data-toggle="tooltip" title="">RFI Score</span></th>
                            <th width="300px"><span data-toggle="tooltip" title="">RFI Creation</span></th>
                            <th width="300px"><span data-toggle="tooltip" title="">Notes</span></th>
                            <th width="200px"><span data-toggle="tooltip" title="">Action</span></th>
                            <th width="50px"><span data-toggle="tooltip" title="">Update</span></th>
                        </tr>


                        <tr ng-show="eventType == 'AO'" ng-repeat="event in eventsList['all'] | filter:query | orderBy:predicate:reverse" >
                            <td>{{event.event_id_int}}</td>
                            <td><a href="#/events2/{{event.event_id}}">{{event.title}}</a></td>
                            <td>{{event.create_date}}</td>
                            <td>{{event.person}} - {{event.organization_name}}</td>

                            <td>
                                <span ng-if="onOpen && (event.num_responses_active == 0)">New</span>
                                <span ng-if="onOpen && (event.num_responses_active > 0)">Ongoing</span>
                                <span ng-if="!onOpen">Closed</span>
                            </td>
                            <td>
                                <span ng-if="event.outcome == 'VP'">Verified (+)</span>
                                <span ng-if="event.outcome == 'VN'">Verified (-)</span>
                                <span ng-if="event.outcome == 'UV'">Unverified</span>
                                <span ng-if="event.outcome == 'UP'">Updated (+)</span>
                                <span ng-if="event.outcome == 'NU'">Updated (-)</span>
                                <a href="" ng-click="showSummary(event.phe_description, event.phe_additional, event.title, event.source, event.source_details, event.outcome, event.action_date)" ng-show="event.outcome && event.phe_description">Summary</a>
                                <span ng-if="!event.outcome">Pending</span>
                            </td>
                            <td><span ng-if="!onOpen">{{event.action_date}}</span></td>
                            <td><span ng-if="event.first_response_date" > Yes </span><span ng-if="!event.first_response_date" > No </span></td>
                            <td>{{event.reaction_time}}</td>
                            <td>
                                <div class="form-group">
                                    <input type="number" min="0" class="form-control" ng-model="event.metric_score" name="metric_score">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <textarea class="form-control" ng-model="event.metric_creation" name="metric_creation" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <textarea class="form-control" ng-model="event.metric_notes" name="metric_notes" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="event.metric_action" name="metric_action">
                                </div>
                            </td>
                            <td><button class="btn btn-default btn-sm stacked" type="button" ng-click="updateRFIMetrics(event)">Update</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <span ng-show="isRouteLoading">
                <i class="fa fa-spinner fa-spin"></i> Please wait...
            </span>
    </div>
</div>
</div>
</div><!--wrapper-->
<div ng-include src="'disclaimer.html'"></div>
<div ng-include src="'footer.html'"></div>

<!-- Modal for summary -->
<div>
    <modal visible="showModal">
        <pre style="white-space: pre-wrap; word-wrap: break-word">{{modalBody}}</pre>
        <p>The information included has been verified by EPICORE, a network with a world-wide distribution of public health professionals ensuring a large spectrum of verification activities in proximity to where events are reported.
            EPICORE members give highest priority to reliable sources of information including direct/indirect documentation about events, official statements and complementary reliable reports obtained at local level. Despite this,
            EPICORE does not aim to replace any official reporting system and is meant to be a complementary surveillance tool supporting public health actors in their activities.
            For all these reasons please consider that this information does not represent an official report and contents included should not be qualified as “officially verified”.
        </p>
    </modal>
</div>
<script>
    // TOOLTIP
    $('[data-toggle="tooltip"]').tooltip( {html: true,trigger:'hover'});
</script>
