<div ng-include src="'header.html'"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wbg">
        <h4>Request for Information list</h4>
        <p>
        <span ng-show="onOpen">Open events&nbsp;|&nbsp;<a href="#/events/closed">Closed events</a></span>
        <span ng-show="!onOpen"><a href="#/events">Open events</a>&nbsp;|&nbsp;Closed events</span>
        </p>

            <i class="fa fa-search"></i> <input ng-model="query"> <br> <br>

            <!-- view for organizations -->
        <div ng-show="isOrganization" ng-init="predicate = 'iso_create_date'; reverse=!reverse">
        <table class='table table-hover table-bordered' style="font-size: small">
            <tbody>
                <tr class="black_bg">
                    <th width="5%"><a href="" ng-click="predicate = 'event_id_int'; reverse=!reverse">ID</a></th>
                    <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
                    <th><a href="" ng-click="predicate = 'disease'; reverse=!reverse">Disease</a></th>
                    <th width="7%" ><a href="" ng-click="predicate = 'iso_create_date'; reverse=!reverse">Create Date</a></th>
                    <th><a href="" ng-click="predicate = 'person'; reverse=!reverse">Moderator</a></th>
                    <th width="10%"><a href="" ng-click="predicate = 'location'; reverse=!reverse">Location</a></th>
                    <th><a href="" ng-click="predicate = 'country'; reverse=!reverse">Country</a></th>
                    <th>Requests Sent Date<br> (# recipients)</th>
                    <th width="5%" >Responses with content</th>
                    <th width="5%" >Responses nothing to contribute</th>
                </tr>
                <tr><th colspan="10"><a href="" ng-click="isCollapsed1 = !isCollapsed1"><i class="fa fa-plus-square-o"></i></a> Initiated by you</th></tr>
                <tr ng-show="!isCollapsed1" ng-repeat="event in eventsList['yours'] | filter:query | orderBy:predicate:reverse" >
                    <td>{{event.event_id_int}}</td>
                    <td><a href="#/events/{{event.event_id}}">{{event.title}}</a></td>
                    <td>{{event.disease}}</td>
                    <td>{{event.create_date}}</td>
                    <td>{{event.person}}</td>
                    <td>{{event.location}}</td>
                    <td>{{event.country}}</td>
                    <td>
                    <span ng-repeat="followup in event.num_followups" >
                        {{followup.date}} ({{followup.num}}) <br>
                    </span>
                    </td>
                    <td>
                        <span>{{event.num_responses_content}}</span>
                    </td>
                    <td>
                        <span>{{event.num_responses_nocontent}}</span>
                    </td>
                </tr>
                <tr><th colspan="10"><a href="" ng-click="isCollapsed2 = !isCollapsed2"><i class="fa fa-plus-square-o"></i></a> Initiated by your organization ({{userInfo.organization}})</th></tr>
                <tr ng-show="!isCollapsed2" ng-repeat="event in eventsList['yourorg'] | filter:query | orderBy:predicate:reverse">
                    <td>{{event.event_id_int}}</td>
                    <td><a href="#/events/{{event.event_id}}">{{event.title}}</a></td>
                    <td>{{event.disease}}</td>
                    <td>{{event.create_date}}</td>
                    <td>{{event.person}}</td>
                    <td>{{event.location}}</td>
                    <td>{{event.country}}</td>
                    <td>
                    <span ng-repeat="followup in event.num_followups">
                    {{followup.date}} ({{followup.num}})<br>
                    </span>
                    </td>
                    <td>
                        <span>{{event.num_responses_content}}</span>
                    </td>
                    <td>
                        <span>{{event.num_responses_nocontent}}</span>
                    </td>
                </tr>
                <tr><th colspan="10"><a href="" ng-click="isCollapsed3 = !isCollapsed3"><i class="fa fa-plus-square-o"></i></a> Initiated by others</th></tr>
                <tr ng-show="!isCollapsed3" ng-repeat="event in eventsList['other'] | filter:query | orderBy:predicate:reverse" >
                    <td>{{event.event_id_int}}</td>
                    <td><a href="#/events/{{event.event_id}}">{{event.title}}</a></td>
                    <td>{{event.disease}}</td>
                    <td>{{event.create_date}}</td>
                    <td></td>
                    <td>{{event.location}}</td>
                    <td>{{event.country}}</td>
                    <td>
                    <span ng-repeat="followup in event.num_followups">
                    {{followup.date}} ({{followup.num}})<br>
                    </span>
                    </td>
                    <td>
                        <span>{{event.num_responses_content}}</span>
                    </td>
                    <td>
                        <span>{{event.num_responses_nocontent}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <!-- view for FETPs -->
        <div ng-show="!isOrganization" ng-init="predicate = 'last_send_date'; reverse=reverse">
        <table class='table table-hover table-bordered' style="font-size: small">
            <tbody>
                <tr class="black_bg">
                    <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
                    <th><a href="" ng-click="predicate = 'disease'; reverse=!reverse">Disease</a></th>
                    <th><a href="" ng-click="predicate = 'location'; reverse=!reverse">Location</a></th>
                    <th><a href="" ng-click="predicate = 'last_send_date'; reverse=!reverse">Request Received Date</a></th>
                    <th>Your Response Date</th>
                </tr>
                <tr ng-repeat="event in eventsList | filter:query | orderBy:predicate:reverse">
                    <td><a href="#/events/{{event.event_id}}">{{event.title}}</a></td>
                    <td>{{event.disease}}</td>
                    <td>{{event.location}}</td>
                    <td>
                        <p ng-repeat="send_date in event.send_dates">
                        {{send_date}}
                        </p>
                    </td>
                    <td>
                        <p ng-repeat="response_date in event.response_dates">
                            {{response_date}}
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
</div>
