<div ng-include src="'header.html'"></div>
<div class="container main">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wbg">
        <h4>Request for Information list</h4>
        <p>
        <span ng-show="onOpen">Open events&nbsp;|&nbsp;<a href="#/events/closed">Closed events</a></span>
        <span ng-show="!onOpen"><a href="#/events">Open events</a>&nbsp;|&nbsp;Closed events</span>
        </p>

            <i class="fa fa-search"></i> <input ng-model="query"> <br> <br>

            <!-- view for organizations -->
        <div ng-show="isOrganization" ng-init="predicate='person'">
        <table>
            <tbody>
                <tr class="black_bg">
                    <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
                    <th><a href="" ng-click="predicate = 'person'; reverse=!reverse">Moderator</a></th>
                    <th><a href="" ng-click="predicate = 'location'; reverse=!reverse">Location</a></th>
                    <th>Requests Sent<br>Date (# FETP recipients)</th>
                    <th># Responses</th>
                </tr>
                <tr><th colspan="6"><a href="" ng-click="isCollapsed1 = !isCollapsed1"><i class="fa fa-plus-square-o"></i></a> Initiated by you</th></tr>
                <tr ng-show="!isCollapsed1" ng-repeat="event in eventsList['yours'] | filter:query | orderBy:predicate:reverse" >
                    <td><a href="#/events/{{event.event_id}}">{{event.title}}</a></td>
                    <td>{{event.person}}</td>
                    <td>{{event.location}}</td>
                    <td>
                    <span ng-repeat="followup in event.num_followups">
                        {{followup.date}} ({{followup.num}}) <br>
                    </span>
                    </td>
                    <td>
                        <span>{{event.num_responses}}</span>
                    </td>
                </tr>
                <tr><th colspan="6"><a href="" ng-click="isCollapsed2 = !isCollapsed2"><i class="fa fa-plus-square-o"></i></a> Initiated by your organization ({{userInfo.organization}})</th></tr>
                <tr ng-show="!isCollapsed2" ng-repeat="event in eventsList['yourorg'] | filter:query | orderBy:predicate:reverse">
                    <td><a href="#/events/{{event.event_id}}">{{event.title}}</a></td>
                    <td>{{event.person}}</td>
                    <td>{{event.location}}</td>
                    <td>
                    <span ng-repeat="followup in event.num_followups">
                    {{followup.date}} ({{followup.num}})<br>
                    </span>
                    </td>
                    <td>
                        <span>{{event.num_responses}}</span>
                    </td>
                </tr>
                <tr><th colspan="6"><a href="" ng-click="isCollapsed3 = !isCollapsed3"><i class="fa fa-plus-square-o"></i></a> Initiated by others</th></tr>
                <tr ng-show="!isCollapsed3" ng-repeat="event in eventsList['other'] | filter:query">
                    <td><a href="#/events/{{event.event_id}}">{{event.title}}</a></td>
                    <td></td>
                    <td>{{event.location}}</td>
                    <td>
                    <span ng-repeat="followup in event.num_followups">
                    {{followup.date}} ({{followup.num}})<br>
                    </span>
                    </td>
                    <td>
                        <span>{{event.num_responses}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <!-- view for FETPs -->
        <div ng-show="!isOrganization">
        <table>
            <tbody>
                <tr class="black_bg">
                    <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
                    <th><a href="" ng-click="predicate = 'location'; reverse=!reverse">Location</a></th>
                    <th>Date Sent To You</th>
                    <th>Response Date</th>
                </tr>
                <tr ng-repeat="event in eventsList | filter:query | orderBy:predicate:reverse">
                    <td><a href="#/events/{{event.event_id}}">{{event.title}}</a></td>
                    <td>{{event.location}}</td>
                    <td>
                        <p ng-repeat="send_date in event.send_dates">
                        {{send_date}}
                        </p>
                    </td>
                    <td>
                        <p ng-repeat="response_date in event.response_dates">
                            {{response_date}}
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
</div>
