<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1>Request For Information Follow-up</h1>
    </div>
</div>

<div class="wrapper dashboard">
<div class="container">
    <div class="row">
        <div id="form-container" class="col-xs-12 col-md-8">

            <div ng-show="isAuthorizedToFollowup">
                    <p>
                    <strong>Title:</strong> {{eventsList.title}}<br>
                    <strong>Date:</strong> {{eventsList.create_date}}
                    </p>
                    <p>Send an email to
                    <span ng-show="allFETPs">all members originally contacted for this request.</span>
                    <span ng-show="!allFETPs">the chosen members only.</span></p>

                <!-- FOLLOWUP FORM (for owner of event) -->
                <form name="sendRequestForm">
                <div class="form-group">
                    <label class="" for="location">Email Text</label>
                    <textarea class="form-control" style="height:100px" ng-model="emailData.additionalText" id="emailfield" placeholder="" required></textarea>

                </div>

                <div class="form-group">
                     <button ng-click="sendFollowup(emailData, sendRequestForm.$valid)" type="submit" class="submit btn btn-primary">Submit</button>
                </div><!-- /input-group -->
                </form>
                <!-- END FOLLOWUP FORM (for owner of event) -->
            </div>
            <div ng-hide="isAuthorizedToFollowup || isAuthorizedToFollowup == null">
                <p>Sorry, you are not authorized to followup on this event.</p>
            </div>
        </div> <!-- form container-->
    </div><!--row-->
</div><!--container main-->
</div><!--wrapper-->

