<div ng-if="!mobile"ng-include src="'header_new.html'"></div>
<div ng-if="mobile"ng-include src="'header_mobile.html'"></div>

<div class="jumbotron animate-area">
<div class="gradient-overlay"></div>
    <div class="container">
        <h1><span class="tagline tagline-first text-uppercase">Small Commitment</span><br><span class="tagline tagline-second text-uppercase">Big Impact</span></h1>        
        <ul class="list-unstyled">
            <li class="h3 mb12"><i class="fa fa-angle-right"></i> Be on the frontlines of disease surveillance</li>
            <li class="h3 mb12"><i class="fa fa-angle-right"></i> Use your knowledge & skills to find disease outbreaks faster than traditional methods</li>
            <li class="h3 mb12"><i class="fa fa-angle-right"></i> Join a network of health professionals around the world</li>
        </ul>
    </div>
</div>
<div class="wrapper gray">
    <div class="container">
        <div class="row">
        <div class="col-xs-12 col-md-8">
        <h3>EpiCore is a virtual community of health professionals using innovative surveillance methods to verify outbreaks of infectious diseases.</h3>
        </div>
        <div class="col-xs-12 col-md-4">
        <a href="#/application" class="btn btn-primary text-uppercase">Join Us</a>
        </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <h2>Use Your Skills and Knowledge to Help Save Lives</h2>
        <div class="row mt48">
        <div class="col-xs-12 col-md-4 img-content-block">
        <img src="img/v1.png" alt="Certified EpiCore Member">
        <h4>Apply to Become a Certified EpiCore Member</h4>
        <p>Fill out the online form to tell us about your professional experience in human/animal health, epidemiology, infectious disease or related fields.</p>
        </div>
        <div class="col-xs-12 col-md-4 img-content-block">
        <img src="img/v2.png" alt="Online Training">
        <h4>Take the Online Training</h4>
        <p>Our quick, informative online training will provide you with everything you need to know in order to become a certified EpiCore member.</p>
        </div>
        <div class="col-xs-12 col-md-4 img-content-block">
        <img src="img/v3.png" alt="Engage When It Counts">
        <h4>Engage When It Counts the Most</h4>
        <p>Respond to requests for information on the EpiCore platform regarding disease outbreaks in your region. Just a few minutes could be all it takes to save a life.</p>
        </div>
        </div>
    </div>
</div>

<div class="wrapper gray">
    <div class="container">
        <h2>How it Works</h2>

        <div class="row">
        <div class="col-xs-12 col-md-8">
        <div class="table nbm">
        <div class="valign text-center" style="height:148px;width:148px;">
            <object style="height:120px;" type="image/svg+xml" data="img/n3.svg"></object>
        </div>
        <h3 class="inherit valign">EpiCore links a worldwide network of health professionals to verify information on disease outbreaks</h3>
        </div>

        <div class="table nmb">
        <div class="valign text-center" style="height:148px;width:148px;">
            <object style="height:96px;" type="image/svg+xml" data="img/n1.svg"></object>
        </div>
        <h3 class="inherit valign">When evidence of an outbreak is found, local information is requested from EpiCore members</h3>
        </div>
        
        <div class="table nmb">
        <div class="valign text-center" style="height:148px;width:148px;">
        <object style="height:96px;" type="image/svg+xml" data="img/n2.svg"></object>
        </div>
        <h3 class="inherit valign">EpiCore members are able to quickly provide expertise, speeding up outbreak verification</h3>
        </div>
        </div>
        </div>
    </div>
</div>

<div class="wrapper" style="background: url('img/bg.jpg');background-position: left bottom;background-size:cover;color: #fff;position:relative;">
<div class="gradient-overlay"></div>
    <div class="container" style="position:relative;">
    <div class="row">
    <div class="col-xs-12 col-md-8">
        <h2 style="font-size:3em;" class="inherit">Pioneer an Innovative Approach to Disease Surveillance</h2>
    </div>
    </div>
    <div class="row">
    <div class="col-xs-12 col-md-8">
        <h3 class="inherit">Use your skills and knowledge to speed up early detection of outbreaks and help save lives</h3>
    </div>
    <div class="col-xs-12 col-md-4">
        <a href="#/application" class="btn btn-primary inherit">Apply Now</a>
    </div>
    </div>
    </div>
</div>

<div ng-include src="'footer.html'"></div>
<div ng-include src="'disclaimer.html'"></div>
