<div ng-include src="'header_mobile.html'"></div>

<div class="jumbotron animate-area">
<div class="gradient-overlay"></div>
    <div class="container">

        <h1><span class="tagline tagline-first text-uppercase">Small Commitment</span><br><span class="tagline tagline-second text-uppercase">Big Impact</span></h1>
        <ul class="list-unstyled">
            <li class="h3 mb12"><i class="fa fa-angle-right"></i> Be on the frontlines of disease surveillance</li>
            <li class="h3 mb12"><i class="fa fa-angle-right"></i> Use your knowledge & skills to find disease outbreaks faster than traditional methods</li>
        </ul>
    </div>
</div>
<div class="wrapper gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h3>EpiCore is a virtual community of health professionals using innovative surveillance methods to verify outbreaks of infectious diseases.</h3>
            </div>
            <div class="col-xs-12 col-md-4">
                <a href="#/application" class="btn btn-primary text-uppercase">Join Us</a>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'footer.html'"></div>
