<div class="container">
    <a href="#/home"><span class="title">Epicore</span></a>
</div>
<div class="container main">
    <div id="form-container">
        <form name="loginForm" ng-controller="userController">
         <p class="intro">With the spread of new technologies and the availability of <em>Big Data</em>, public health professionals have new opportunities to find and verify outbreaks faster. Epicore volunteers will help verify early signals of outbreaks and thereby improve public health responses.</p> 
         <p class="intro" id="error_message" ng-show="{{error_message}}"><strong>Authentication failed.</strong></p>
         <div class="row">
            <div class="form-group col-xs-12">
                <label class="sr-only" for="username">Email Address</label>
                <input type="text" class="form-control" ng-model="formData.username" name="username" id="username" placeholder="Email Address" required>
            </div>
         </div>
         <div class="row">
            <div class="form-group col-xs-12">
                <label class="sr-only" for="password">Password</label>
                <input type="password" class="form-control" ng-model="formData.password" name="password" id="password" placeholder="Password" required>
            </div>
         </div>
         <div class="row">
            <div class="form-group col-sm-12 checkbox">
                <label><input type="checkbox" name="agree" ng-model="formData.agree" required><small>I agree to Epicore's <a href="#/terms">Terms of Participation</a></small></label>.
            </div>
         </div>
         <div class="row">
            <div class="form-group col-xs-12">
                <button ng-click="userLogin(formData)" type="submit" class="submit btn btn-default col-xs-12">Login</button>
            </div><!-- /input-group -->
         </div>
       </form>
    
    <div class="row">
        <div class="col-lg-12">
            <p class="intro"><a href="{{tephinetBase}}epicore/oauth_request/EJL7rbQR3YTQXPb8ku6zEQbmRSXzLRtd/Nr8TTVMoAvm4X86jjzbp65aE7kTmR2WN">Log in with your Tephinet account <i class="fa fa-arrow-circle-right"></i></a></p>
            <p class="intro"><a href="#/about">Learn more about the EpiCore project <i class="fa fa-arrow-circle-right"></i></a></p>
        </div>
    </div><!--row-->
  </div>

</div><!--container main-->

<script>
    // form validation
    $("form").validate();
</script>
