<div ng-include src="'header_new.html'"></div>
<div class="jumbotron page">
<div class="gradient-overlay light"></div>
    <div class="container">
        <h1><span class="tagline text-uppercase">How it Works</span></h1>
    </div>
</div>

<div class="wrapper">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
        <h3>EpiCore links a worldwide member network of health professionals in order to provide verification of suspected or rumored disease outbreaks.</h3> 
        <img class="border fullwidth mb24" src="img/how1.png" alt="How it Works Step 1">
        <img class="border fullwidth mb24" src="img/how2.png" alt="How it Works Step 2">
        <img class="border fullwidth mb24" src="img/how3.png" alt="How it Works Step 3">
        <img class="border fullwidth mb24" src="img/how4.png" alt="How it Works Step 4">
        </div><!--col-->
    </div><!--row-->
</div><!--container-->
</div><!--wrapper-->

<div class="wrapper darkgray">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h3>Learn more about who can apply</h3>
        </div>
        <div class="col-xs-12 col-md-4">
            <a href="#/who" class="btn btn-primary text-uppercase">Learn More</a>
        </div>
    </div>
</div>
</div>
<div ng-include src="'footer.html'"></div>
