<div ng-include src="'header_new.html'"></div>
<div class="jumbotron page" style="background:url('img/bg.jpg');background-size:cover;color: #fff;margin-bottom: 0px;background-position: right center;">
<div class="gradient-overlay light"></div>
    <div class="container">
        <h1><span class="tagline text-uppercase">How it Works</span></h1>
    </div>
</div>

<div class="wrapper">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
        <h3>EpiCore links a worldwide member network of  health professionals to verify information on disease outbreaks.</h3> 
        <p>When evidence of outbreaks is found, local information is requested from EpiCore members. Through a secure online platform, members are able to easily and quickly provide local expertise that speeds outbreak verification. The information collected through EpiCore is then shared on ProMED-mail, which is a free, nonpolitical system that has an open and public worldwide distribution.</p>
        </div><!--col-->
    </div><!--row-->
</div><!--container-->
</div><!--wrapper-->

<div class="wrapper" style="background: #efefef;">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h3>Learn more about who can apply</h3>
        </div>
        <div class="col-xs-12 col-md-4">
            <a href="#/who" class="btn btn-primary text-uppercase">Learn More</a>
        </div>
    </div>
</div>
</div>

