<div ng-include src="'header_new.html'"></div>
<div class="jumbotron page">
<div class="gradient-overlay light"></div>
    <div class="container">
        <h1><span class="tagline text-uppercase">How it Works</span></h1>
    </div>
</div>

<div class="wrapper">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
        <h3>EpiCore links a worldwide member network of health professionals in order to provide verification of suspected or rumored disease outbreaks.</h3> 
        <p>When evidence of outbreaks is found, local information is requested from EpiCore members. Through a secure online platform, members are able to easily and quickly provide local expertise that speeds outbreak verification. The information collected through EpiCore is then shared on ProMED-mail.</p>
        </div><!--col-->
    </div><!--row-->
</div><!--container-->
</div><!--wrapper-->

<div class="wrapper darkgray">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h3>Learn more about who can apply</h3>
        </div>
        <div class="col-xs-12 col-md-4">
            <a href="#/who" class="btn btn-primary text-uppercase">Learn More</a>
        </div>
    </div>
</div>
</div>

