<div class="wrapper wrapper-app">
    <div class="container">
        <div class="row flex">
            <div id="form-container" class="col-xs-12 text-center" ng-controller="userController">
<img src="img/logos/epicore-logo-vertical.svg" height="144px" style="margin-bottom:36px;" alt="Epicore Logo">

              <div ng-show='autologin && !error_message && !isRouteLoading'>
                <button ng-click="signIn()" type="submit" class="btn-block submit btn btn-dark" style="margin-top:24px;">Login</button>
              </div>

                <form name="loginForm" ng-show='(!autologin || error_message) && !isRouteLoading'>
                    <p id="error_message" ng-show="error_message"><strong class="red">Authentication failed!</strong></p>
                    <p><strong class="red">{{mobile_message}}</strong></p>

                    <div class="form-group">
                        <label class="sr-only" for="username">Email Address</label>
                        <input type="text" class="form-control" ng-model="formData.username" name="username" id="username" placeholder="Email or username" required>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" class="form-control" ng-model="formData.password" name="password" id="password" placeholder="Password" required>
                    </div>

                    <div class="form-group">
                        <button ng-click="userLogin(formData)" type="submit" class="btn-block submit btn btn-dark">Login</button>
                    </div><!-- /input-group -->

                    <span>
                        <a href="#/resetpassword" class="fw-4">Forgot your password?</a>
                    </span>
                </form>
                <span ng-show="isRouteLoading">
                    <i class="fa fa-spinner fa-spin"></i> Please wait...
                </span>
            </div><!--form-container-->

        </div><!--row-->
    </div><!--container-->
    <div class="border-top">
    <div class="container footer-mobile flex">
    <div class="text-center grayscale">
    <img src="img/logos/hm.png" alt="HealthMap" height="18">
    <img src="img/logos/promed.jpg" alt="ProMED" height="30">
    <img src="img/logos/ep-logo.png" alt="Ending Pandemics" height="30">
        <img src="img/logos/tephinet.png" alt="Tephinet" height="30">
    </div>
    </div><!--container-->
    </div>
</div><!--wrapper-->
<script>
// form validation
$("form").validate();
</script>
