<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1>Mod Access to Epicore</h1>
    </div>
</div>

<div class="wrapper dashboard">
<div class="container">
    <div class="row">
        <div id="form-container" class="col-xs-12 col-md-8">
            <form ng-controller="userController">
            <p><a href="http://promedmail.org/dashboard" third="true"> <i class="fa fa-arrow-circle-left"></i> Return to Dashboard</a></p>
            <p>Enter Epicore with your Moderator privileges.</p>
            <div class="form-group">
                <button ng-click="userLogin()" type="submit" class="submit btn btn-primary">Continue to Epicore <i class="fa fa-arrow-circle-right"></i></button>
            </div><!-- /input-group -->
            </form>
        </div>
    </div><!--row-->
</div><!--container-->
</div><!--wrapper-->
