<div ng-include src="'header.html'"></div>
<div class="container main">
    <div class="row">
        <div id="form-container" class="col-xs-12 col-sm-9 col-md-7 col-lg-6">

        <div class="intro">
            <h4>Re-Open Request for Information</h4>
            <p>
            Title: {{eventsList.title}}<br>
            Date: {{eventsList.create_date}}
            </p>
            <p>NOTE: All FETPs originally contacted for this RFI will be notified via email.</p>
        </div>

        <!-- CHANGE STATUS FORM (for owner of event) -->
        <form name="changeStatusForm">
            <div class="form-group col-xs-12">
                <label class="sr-only" for="reply">Notes</label>
                <textarea ng-model="formData.notes" style="height:300px" class="form-control" name="reply" id="notesfield" placeholder="Reason for re-opening request" required></textarea>
            </div>

            <div class="form-group col-xs-12">
                <button ng-click="changeRequestStatus(formData, 'Reopen', changeStatusForm.$valid)" type="submit" class="submit btn btn-default col-xs-12">Re-open request</button>
            </div><!-- /input-group -->
        </form>

        </div>
    </div><!--row-->
</div><!--container main-->
