<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1>Re-Open RFI</h1>
    </div>
</div>

<div class="wrapper dashboard">
<div class="container">
    <div class="row">
        <div id="form-container" class="col-xs-12 col-md-8">

            <p>
            <strong>Title:</strong> {{eventsList.title}}<br>
            <strong>Date:</strong> {{eventsList.create_date}}
            </p>
            <p>NOTE: Members you originally contacted in this RFI will be notified.</p>

        <!-- CHANGE STATUS FORM (for owner of event) -->
        <form name="changeStatusForm">
            <div class="form-group">
                <label class="sr-only" for="reply">Notes</label>
                <textarea ng-model="formData.notes" style="height:300px" class="form-control" name="reply" id="notesfield" required></textarea>
            </div>

            <div class="form-group">
                <button ng-click="changeRequestStatus(formData, 'Reopen', changeStatusForm.$valid)" type="submit" class="submit btn btn-primary">Re-open request</button>
            </div><!-- /input-group -->
        </form>

        </div>
    </div><!--row-->
</div><!--container main-->
