<div ng-include src="'header.html'"></div>
<!-- <div ng-if="mobile"ng-include src="'header_mobile.html'"></div> -->

<div class="jumbotron dashboard">
    <div class="container">
        <h1>RFI Response</h1>
    </div>
</div>


<div class="wrapper">
<div class="container">
    <div class="row" ng-show="isAuthorizedFETP" >
        <div id="form-container" class="col-xs-12">
        <p><a href="#/events2/{{id}}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Back to RFI</a></p>

            <p>
            <strong>Title:</strong> {{eventsList.title}}<br>
            <strong>Date:</strong> {{eventsList.event_date}}
            </p>

        <form name="sendResponseForm">
            <div class="form-group">
                <label class="" for="reply">Response</label>
                <textarea ng-model="formData.reply" style="height:300px" class="form-control" name="reply" id="replyfield" required></textarea>
            </div>

            <div class="radio">
                <div>
                    <label>
                        <input type="radio" ng-model="formData.response_permission" name="response_permission" value="1" required> <i class="fa fa-circle perm1"></i> Don't quote, don't attribute
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" ng-model="formData.response_permission" name="response_permission" value="2" required> <i class="fa fa-circle perm2"></i> Can quote, don't attribute
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" ng-model="formData.response_permission" name="response_permission" value="3" required> <i class="fa fa-circle perm3"></i> Can quote, can attribute
                        <input type="text" size="80" class="form-control" ng-model = "formData.response_member" ng-if="(formData.response_permission == 3)" placeholder="Enter your name, title, organization etc." ng-required="(formData.response_permission == 3)">
                    </label>
                </div>
            </div>

            <br>
            <div >
                <h4>How has the information been verified (sources used or actions taken)?</h4>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label ><input type="checkbox" name="direct_observation" ng-model="formData.source.direct_observation" > Direct observation (site visit or information on-site, e.g. direct involvement in loco)</label>
                </div>
                <div class="checkbox">
                    <label ><input type="checkbox" name="indirect_report" ng-model="formData.source.indirect_report" > Indirect report (informal info received from person in loco) </label>
                </div>
                <div class="checkbox">
                    <label ><input type="checkbox" name="media_report" ng-model="formData.source.media_report" > Media report (web-based or direct media item) </label>
                </div>
                <div class="checkbox">
                    <label ><input type="checkbox" name="official_report" ng-model="formData.source.official_report" > Official report (web-based or direct official documentation) </label>
                </div>
                <div class="checkbox">
                    <label ><input type="checkbox" name="professional_opinion" ng-model="formData.source.professional_opinion" > Professional opinion (information based on personal professional opinion, with no further report/statement) </label>
                </div>
                <div class="checkbox">
                    <label ><input type="checkbox" name="other_source" ng-model="formData.source.other_source" > Other (any other information not included in the list) :</label>
                    <input type="text" class="form-control" ng-model = "formData.source.other_source_description" ng-if="formData.source.other_source" placeholder="other info..." ng-required="formData.other_source">
                </div>
            </div>

            <br>
            <h4>Files (optional)</h4>

            <p>Select files to send for additional information. Acceptable file types include images, pdf, xls, xlsx, docx, txt, and csv.</p>

            <button ngf-select="uploadFiles($files, $invalidFiles)" multiple
                    accept="image/*, .pdf, .csv, .xls, .xlsx, .docx, .txt" ngf-max-size="10MB" ngf-max-files="5" >
                Select Files</button>
            <br><br>
            <div ng-if="errFiles" style="color: red;">File errors</div>
            <ul>
                <!--<li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}<br>
                    <span class="progress" ng-show="f.progress >= 0">
                        <div style="width:{{f.progress}}%" ng-bind="f.progress + '% uploaded'"></div>
                    </span>
                </li>-->
                <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                </li>
            </ul>
            <!--{{errorMsg}}-->


            <div >
                <span ng-if="files">Files to send:</span>
                <ul id="file-list">
                    <li ng-repeat="uf in ufiles">
                        {{uf.filename}}&nbsp;<span ng-click="removeFile(uf.savefilename)"> <i class="fa fa-times fa-lg" aria-hidden="true"></i> (click to remove)</span>
                    </li>
                </ul>

                <div ng-show="isRouteLoading">
                    <i class="fa fa-spinner fa-spin"></i> Uploading...
                </div>
            </div>


            <br><br>
            <div class="form-group">
                <button ng-click="sendResponse(formData, sendResponseForm.$valid)" ng-disabled="submitDisabled" type="submit" class="submit btn btn-primary">Submit Response</button>
            </div><!-- /input-group -->
            <span class="error">{{response_error_message}}</span>
        </form>

        </div>
    </div><!--row-->

    <div class="row" ng-if="!isAuthorizedFETP && isAuthorizedFETP !=null">
        <div class="col-xs-12 col-md-8" >
            <p>You are not authorized to reply to this event.</p>
        </div>
    </div>
</div><!--container-->
</div><!--wrapper-->
<style>

    form .progress {
        line-height: 15px;
    }

    .progress {
        display: inline-block;
        width: 100px;
        border: 3px groove #CCC;
    }

    .progress div {
        font-size: smaller;
        background: orange;
        width: 0;
    }
</style>