<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1>Edit RFI</h1>
    </div>
</div>

<div class="wrapper dashboard">

<div class="container">
    <div class="row">
        <div id="form-container" class="col-xs-12 col-md-8">
            <form name="requestForm">

            <div class="form-group">
                <label class="" for="location">Personalized Text</label>
                <textarea class="form-control" style="height:50px" ng-model="formData.additionalText" id="emailfield" placeholder="Personalized Text"></textarea>
            </div>

            <div class="form-group">
                <label class="" for="posttitle">Event Title</label>
                <input type="text" class="form-control" ng-model="formData.title" name="title" id="title" placeholder="Event Title" value="" required>
            </div>
            
            <div class="form-group">
                <label class="" for="location">Event Location</label>
                <input type="text" class="form-control" ng-model="formData.location" name="location" id="searchTextField" placeholder="Event Location" value="" required>
                <input type="hidden" name="latlon" ng-model="formData.latlon" id="default_location" value="{{formData.latlon}}">
            </div>

                <div class="form-group">
                    <label class="" for="disease">Event Disease</label>
                    <input type="text" class="form-control" ng-model="formData.disease" name="disease" id="disease" placeholder="" value="" required>
                </div>

            <div class="form-group">
                <label class="" for="location">Event Description</label>
                <textarea class="form-control" style="height:300px" name="description" ng-model="formData.description" id="descriptionfield" required></textarea>
            </div>

                <div class="form-group">
                    <button ng-click="updateEvent(formData, requestForm.$valid)" type="submit" class="submit btn btn-primary">Update Request</button>
                </div><!-- /input-group -->
            </form>
        </div><!--col-->
    </div><!--row-->
</div><!--container-->
</div><!--wrapper-->
<script>
initialize_googleplaces(); // google places for auto-suggester
$("form").validate(); // form validation
</script>
