<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1>Request For Information</h1>
    </div>
</div>

<div class="wrapper dashboard">
<div class="container">
    <div class="row">
        <div id="form-container" class="col-xs-12 col-md-8">
            <form name="sendRequestForm">
                <h3>Step 3 of 3</h3> 
                <h4>Preview & Send RFI</h4>
                <p>The following is what your <strong>{{numFetps}}</strong> member recipients will receive via email.
  If it looks good, press "Send Email".</p>

            <div class="form-group">
            <p><a href="#/request" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Edit event details</a></p>
            <iframe width="800" height="400" ng-src="{{filePreview}}"></iframe>
            </div>

                <div class="form-group">
                    <button ng-click="sendRequest(sendRequestForm.$valid)" ng-disabled="submitDisabled" type="submit" class="submit btn btn-primary">Send Email</button>
                </div><!-- /input-group -->

            </form>
        </div><!--col-->
    </div><!--row-->
</div><!--container-->
</div><!--wrapper-->
