<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1>Requester RFI Metrics Dashboard</h1>
    </div>
</div>

<div class="wrapper dashboard">

    <div class="container" >
        <div ng-show="!superuser">
            <h3>You do not have access to this page.</h3>
        </div>
        <div ng-show="superuser && showpage" ng-controller="modaccessController" >

            <div ng-init="predicate='name'; reverse=reverse" class="row col-xs-12" >

                <p><i class="fa fa-search"></i> <input ng-model="query"> &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="table-responsive">
                    <table class='small table table-hover table-bordered'>
                        <tr>
                            <th style="width:30px;"><a href="" ng-click="predicate = 'org_name'; reverse=!reverse">Organization </a></th>
                            <th style="width:30px;"><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
                            <th style="width:30px;"><a href="" ng-click="predicate = 'email'; reverse=!reverse">email </a></th>
                            <th style="width:30px;"><a href="" ng-click="predicate = 'rfi_total'; reverse=!reverse">RFI Total </a></th>
                            <th style="width:30px;"><a href="" ng-click="predicate = 'rfi_6months'; reverse=!reverse">RFI last 6 months </a></th>
                            <th style="width:30px;">RFI Score</th>
                            <th style="width:30px;">RFI Score</th>
                            <th style="width:30px;">RFI Score</th>
                            <th style="width:30px;">RFI Score</th>
                            <th style="width:30px;">RFI Score</th>

                        </tr>
                        <tr ng-repeat="mod in mods | filter:query | orderBy:predicate:reverse" >
                            <td>{{mod.org_name}}</td>
                            <td>{{mod.name}}</td>
                            <td>{{mod.email}}</td>
                            <td>{{mod.rfi_total}}</td>
                            <td>{{mod.rfi_6months}}</td>
                            <td>{{mod.rfi_score1}}</td>
                            <td>{{mod.rfi_score2}}</td>
                            <td>{{mod.rfi_score3}}</td>
                            <td>{{mod.rfi_score4}}</td>
                            <td>{{mod.rfi_score5}}</td>
                        </tr>
                    </table>
                </div>
            </div>


        </div>
    </div><!--container-->
</div><!--wrapper-->