<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1>Resources</h1><br>
        <p>We value your participation. These resources are available to you to thank you for being an EpiCore member. Resources that become available will be updated regularly and new opportunities highlighted in quarterly newsletters.</p>
    </div>
</div>
<div class="wrapper">
    <div class="container mb48">
        <h2>Online Training and Webinars</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="img-content-block-2">
                    <img src="img/webber.png">

                    <h4 class="">Webber Training- Teleclass Education for Infection Prevention and Control</h4>
                    <p class="small-text">As an EpiCore member you have access to all content on the Webber Training site. Please complete the registration on the <a href="https://webbertraining.com/epicore-members.php?command=signup" targe="_blank">Webber Training website</a> for a free Full Year Subscription (a $700CAD value) for EpiCore members. If you are already Webber Training member, please email info@epicore.org for assistance.<br> 
                    <a href="https://webbertraining.com/epicore-members.php?command=signup">www.webbertraining.com</a><br>
                    <strong class="error">EpiCore Members-Only Access</strong>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="img-content-block-2">
                    <img src="img/georgetown.jpg">
                    <h4 class="">Center for Global Health Science and Security at Georgetown’s Event-Based Surveillance (EBS) Curriculum</h4>
                    <p class="small-text">
                    This is a structured user-friendly EBS curriculum designed to prepare health officials at the national and sub-national levels to use formal and informal reports for early warning and response.<br>
                    <a href="https://ghss.georgetown.edu/ebs">ghss.georgetown.edu/ebs</a>
                    </p>
                </div>
            </div>
            <div class="clearfix visible-md-block mt24"></div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="img-content-block-2">
                    <img src="img/openwho.png?a">
                    <h4 class="">OpenWHO</h4>
                    <p class="small-text">WHO’s online courses to improve the response to health emergencies. Current courses include: Public Health Interventions in Pandemics and Epidemics, Pandemic and Epidemic-Prone Diseases, Knowledge Resources for Plague Responders, and more.
                    <br><a href="https://openwho.org">openwho.org</a>
                    </p> 
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="img-content-block-2">
                    <img src="img/immunization-nigeria.png">
                    <h4 class="">WHO media centre: news, features, multimedia</h4>
                    <p class="small-text">Includes the latest news, videos, podcasts, infographics, and more.<br>
                    <a href="http://www.who.int/mediacentre/multimedia/podcasts/2017/zika-preparedness/en">www.who.int/mediacentre</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="container mb48">
        <h2>Tools</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="img-content-block-2">
                    <img src="img/isid.png">

                    <h4>International Society for Infectious Diseases’ Guide to Infection Control in the Hospital, 5th Edition</h4>
                    <p class="small-text">This handy pocket-sized manual contains 60 chapters that explain key principles and guidelines for reducing the rate of nosocomial infections and practical measures intended to improve quality of care, minimize risk, save lives, and reduce costs. As an EpiCore member you are eligible for a free downloadable PDF version of this guide.<br>
                    <a href="">Download the guide</a><br>
                    <strong class="error">EpiCore Members-Only Access</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Journal Articles</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="img-content-block-2">
                <img src="img/lancet.png">

                <h4 class="mb12">The Lancet Infectious Diseases Journal Articles</h4>
                <p class="small-text">A monthly journal covering international issues relevant to clinical infectious diseases specialists worldwide. As an EpiCore member you will have access to one selected article each month.<br>
                <a href="documents/lancet-january-2018.pdf">January 2018 Article</a><br>
                <a href="documents/lancet-february-2018.pdf">February 2018 Article</a><br>
                <a href="documents/lancet-march-2018.pdf">March 2018 Article</a><br>
                <a href="documents/lancet-april-2018.pdf">April 2018 Article</a><br> 
                <strong class="error">EpiCore Members-Only Access</strong>
                </p>
            </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="img-content-block-2">
                <img src="img/plos.png">
                <h4 class="mb12">PLOS ONE</h4>
                <p class="small-text">The world’s first multidisciplinary Open Access journal, PLOS ONE accepts scientifically rigorous research, regardless of novelty. The journal’s publication criteria are based on high ethical standards and the rigor of the methodology and conclusions reported.<br>
                <a href="http://journals.plos.org/plosone">journals.plos.org/plosone</a></p>

            </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'footer.html'"></div>
