<div ng-include src="'header.html'"></div>
<div class="container main">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wbg">
        <p><i class="fa fa-arrow-circle-left"></i> <a href="#/events">Back to listing</a></p>
        <h4>Request for Information Responses</h4>
        <div ng-show="isAuthorizedToFollowup">
        <a href="#/followup/{{id}}" class="nav-button">Send follow-up email to all</a><br><br>
        </div>
        <p>
        <strong>Title:</strong> {{eventsList.title}}
        <br><strong>Location:</strong> {{eventsList.location}}
        </p>
        <table>
            <tbody>
                <tr>
                    <th>Date</th>
                    <th>Response</th>
                </tr>
                <tr ng-repeat="responseObj in eventsList.responses">
                    <td>{{responseObj.response_date}}</td>
                    <td>{{responseObj.response}} <a href="#/response/{{responseObj.response_id}}">[more]</a></td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
</div>
