<div ng-include src="'header.html'"></div>
<div class="container main">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wbg">
        <p><i class="fa fa-arrow-circle-left"></i> <a href="#/events">Back to listing</a></p>
        <h4>Request for Information Response</h4>
            <div ng-show="isAuthorizedToFollowup">
               <a class="nav-button" href="#/followup/{{responseObj.event_id}}/{{responseObj.response_id}}">Send follow-up email</a><br><br>
            </div>
        <div ng-show="isAuthorizedToSee">
            <p>The following reply was sent on {{responseObj.response_date}}:
            <p><pre>{{emailText}}</pre></p>
        </div>
        <div ng-show="!isAuthorizedToSee">
            <p>Sorry, you are not authorized to view this response</p>
        </div>
    </div>
</div>
</div>
