<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1>Responder Metrics for {{month}}, {{year}}</h1>
    </div>
</div>

<div class="wrapper dashboard metrics-tables">

    <div class="container" >

            <div class="row">

                <div class="col-xs-12">
                    <h2>RFI Metrics</h2>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div ng-include="'data/opened_rfis.html'" ></div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div ng-include="'data/closed_rfis.html'" ></div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h2 class="mt48">Responder Metrics</h2>
                </div>
                <div class="col-xs-12 col-sm-3">
                <h4>Membership Summary</h4>
                    <!--<img src="img/metrics/membership.png" height="400px" alt="Region">-->
                    <div ng-include="'data/membership.html'" ></div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h4>Members by Region</h4>
                    <div ng-include="'data/region_table.html'" ></div>
                    <!--<img src="img/metrics/region_table.png" height="350px" alt="Region">-->
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h4>Professional Background</h4>
                    <div ng-include="'data/experience_table.html'" ></div>
                    <!--<img src="img/metrics/experience_table.png" height="350px" alt="Health Experience">-->
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h4>Overall Health Expertise</h4>
                    <img src="img/metrics/health_expertise.png" class="auto-size" alt="Health Expertise">
                </div>
            </div>
            <br>

            <div class="row mt48">
                <div class="col-xs-12 col-md-6">
                <h4>New Applicants by country</h4>
                <div ng-include="'data/new_applicants_table.html'" ></div>
                <!--<img src="img/metrics/new_applicants_table.png" height="400px" alt="New applicants">-->
            </div>
                <div class="col-xs-12 col-md-6">
                    <h4>Recent Applicants</h4>
                    <img src="img/metrics/applicants_month.png" height="450px" alt="Recent Applicants">
                </div>
            </div>

        <br>

        <div class="row">
            <div class="col-sm-12 ">
                <h4>EpiCore Members by region and countries with no members</h4>
                <div ng-include="'data/no_members_region_table.html'" ></div>
                <div ng-include="'data/members_regions.html'" ></div>
                <p>* N.B. numbers may vary based on definitions of countries <br>
                    ** UN 3-letter codes ( https://unstats.un.org/unsd/tradekb/knowledgebase/country-code )
                </p>

            </div>
        </div>
        <br>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h4>New Applicants Heard about Epicore by </h4>
                    <div ng-include="'data/heard_about_table.html'" ></div>
                </div>

                <div class="col-xs-12 col-md-6">
                    <h4>Applicants with no training</h4>
                    <div ng-include="'data/app_no_training_table.html'" ></div>
                </div>
            </div>
            <br>


            <br>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h4>Applicants by Year</h4>
                    <img src="img/metrics/applicants_year.png" height="450px" alt="Applicants by year">
                </div>

            </div>
            <br>


            <div class="row">
            </div>
            <br>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h4>Members per country: n and Density </h4>
                    <p>(members per 1,000,000 population, latest UN figures)</p>
                    <p>"Members Density" <0.5/1,000,000 population is considered not ideal</p>
                    <div ng-include="'data/country_table.html'" ></div>
                    <!--<img src="img/metrics/country_table.png" height="2500px" alt="Applicants by Country">-->
                </div>
                <div class="col-xs-12 col-md-6">
                    <h4>Countries With No Members</h4>
                    <div ng-include="'data/no_applicants_countries_table.html'" ></div>
                    <!--<img src="img/metrics/no_applicants_countries_table.png" height="1200px" alt="No applicants">-->

                </div>
            </div>

        <br>


    </div><!--container-->
</div><!--wrapper-->

<style>

    th, td {
        padding: 5px;
        text-align: left;
    }
</style>
