<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1>Send RFI</h1>
    </div>
</div>

<div class="wrapper dashboard form-style-2">
    <div class="container">
        <div class="row">
            <div id="form-container" class="col-xs-12 col-md-8">
                <form name="locationForm">

                    <div class="clear mb48">
                        <span style="float: left;"><h2 class="mb0 more-space">Step 1: Event Details</h2></span>
                        <span style="float: right;"><a href ng-click="clearRequest()" class="btn btn-transparent">Clear RFI</a></span>
                    </div>

                    <div class="form-group more-space">
                        <label>Event Location</label>
                        <!--<input type="text" class="form-control" ng-model="rfiData.location.location" ng-focus="rfiData.location.location = ''; rfiData.location.latlon=''" name="location" id="searchTextField" placeholder="" value="" required>-->
                        <!--<input type="hidden" name="latlon" ng-model="rfiData.location.latlon" id="default_location" value="{{rfiData.location.latlon}}">-->
                        <input class="form-control" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-click="filtertype=null" ng-model="rfiData.place" ng-focus="rfiData.place = ''; rfiData.location.latlon=''" id="autocompleteText" required />

                    </div>

                    <span class="error">{{location_error_message}}</span>
                </form>

            </div><!--col-->
        </div><!--row-->

        <div class="row">
            <div id="form-container" class="col-xs-12 col-md-8">
                <div class="form-group more-space">
                    <label class="mb0">Select RFI Responders</label>

                    <div class="radio"><label class="radio"><input type="radio" ng-model="filtertype" ng-disabled="!(rfiData.place)" name="filtertype" value="radius" ng-click="recalcUsers('radius');">Select responders near the event location</label></div>
                    <div class="radio"><label class="radio"><input type="radio" ng-model="filtertype" name="filtertype" ng-disabled="!(rfiData.place)" value="country" ng-click="recalcUsers('country');">Select responders by country</label></div>
                    
                    <p ng-if="rfiData.members.numUniqueFetps && rfiData.place!='' && filtertype!=null" class="mb0 highlight active">{{rfiData.members.numUniqueFetps}} responders at {{rfiData.members.numFetps}} locations selected</p>
                    
                    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" ng-if="radiussel && rfiData.place!='' && filtertype!=null">
                    <ui-gmap-rectangle bounds="rectangle.bounds" stroke="rectangle.stroke" visible="true" fill="rectangle.fill" fit="false" editable="true" draggable="true" events="eventsRectangle">
                    </ui-gmap-rectangle>
                    <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="'onClick'">
                    <windows show="show">
                    <div ng-non-bindable>{{title}}</div>
                    </windows>
                    </ui-gmap-markers>
                    </ui-gmap-google-map>

                    <div ng-include src="'partials/rfi_members_select.html'"></div>
                    <p class="hide" ng-if="!rfiData.members.numUniqueFetps" class="highlight">Enter the event location to see nearby responders.</p>

                    <span class="error" ng-if="submitDisabled">Select a country with at least one member.</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="form-container" class="col-xs-12 col-md-8">
                <form name="locationForm">

                    <div class="form-group more-space">
                        <label>Date of the Event <i class="tooltip-icon fa fa-info-circle" data-toggle="tooltip" title="<h4>Date of the Event</h4><p class='mb0'>Enter the date of onset of the first case. If no specific date is available consider the date of the source report. In case of an update of an already verified PHE consider today's date.</p>"></i></label>
                        <input type="text" class="form-control-small form-control" ng-model="rfiData.location.event_date" name="event_date" id="datepicker" data-provide="datepicker" autocomplete="off" required>
                    <span class="error">{{time_error_message}}</span>
                    </div>

                    <div class="hide form-group" data-toggle="tooltip" title=" Please specify if the date selected is date of symptom onset or date of confirmation of case, etc">
                        <h4>Date Details:</h4>
                        <p>Please include any additional details about the date that may be informative and relevant (e.g. date refers to first confirmation)</p>
                        <textarea class="form-control" style="height:300px" ng-model="rfiData.location.event_date_details" id="event_date_details" placeholder="Available details..." ></textarea>
                    </div>

                    <div class="hide form-group">&nbsp;
                        <button ng-click="saveTime('back')" type="submit" class="submit btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Back </button> &nbsp; &nbsp;
                        <button ng-click="saveTime('next')" type="submit" class="submit btn btn-primary btn-auto-width">Next</button>
                    </div><!-- /input-group -->

                </form>

            </div><!--col-->
        </div><!--row-->


        <div class="row">
            <div id="form-container" class="col-xs-12 col-md-8">
                <form name="requestForm">
                    <div class="form-group more-space">
                        <label class="mb0">How did you hear about this event?</label>
                        <div class="form-group">

                            <div class="radio">
                                <label class="radio"> 
                                    <input type="radio" ng-model="rfiData.source.source" value="MR" ng-required="!rfiData.source.source">Media Report<i class="tooltip-icon fa fa-info-circle" data-toggle="tooltip" title="<h4>Media Report</h4><p class='mb0'>The RFI is based on media information. If possible, include the link to the media report.</p>"></i></label>
                            </div>
                            <div class="secondary-input" ng-if="rfiData.source.source=='MR'">
                                <label class="radio">Please provide a link to the report if available</label>
                                <input type="text" class="form-control" ng-model="rfiData.source.details" name="media-link" id="media-link" value=""  placeholder="Enter the link to the media report">
                            </div>
                            <div class="radio">
                                <label class="radio">
                                    <input type="radio" ng-model="rfiData.source.source" value="OR" ng-required="!rfiData.source.source">Official Report<i class="tooltip-icon fa fa-info-circle" data-toggle="tooltip" title="<h4>Official Report</h4><p class='mb0'>The RFI is based on an official report. In case of an official document available online, at least one link should be included; if there is no official document available online, then any other detail about the original source should be included.</p>"></i></label>
                            </div>
                            <div class="secondary-input" ng-if="rfiData.source.source=='OR'">
                                <label>Please provide a link to the report if available</label>
                                <input type="text" class="form-control" ng-model="rfiData.source.details" name="official-link" id="official-link" value=""  placeholder="Enter the link to the official report">
                            </div>
                            <div class="radio">
                                <label class="radio"> 
                                    <input type="radio" ng-model="rfiData.source.source" value="OC" ng-required="!rfiData.source.source">Other Communication<i class="tooltip-icon fa fa-info-circle" data-toggle="tooltip" title="<h4>Other Communication</h4><p class='mb0'>The RFI is based on direct communication from an EPICORE member or an external that has not provided any further documentation. Before choosing this option, RFI Requesters should search for any online report about the event. If information about the PHE is identified, the information source should be classified as media or official.</p>"></i></label>
                            </div>
			    <div class="secondary-input" ng-if="rfiData.source.source=='OC'">
                                <label>Please describe how you heard about this event.</label>
                                <input type="text" class="form-control" ng-model="rfiData.source.details" name="official-link" id="official-link" value=""  placeholder="">
                            </div>

                        </div>

                        <div class="hide form-group">
                            <button ng-click="saveSource('back')" type="submit" class="submit btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Back </button> &nbsp; &nbsp;
                            <button ng-click="saveSource('next')" type="submit" class="submit btn btn-primary"> Next <span ng-if="!rfiData.event_id">- Review & Send</span><i class="fa fa-arrow-circle-right"></i></button>
                        </div>
                        <span class="error">{{source_error_message}}</span>


                    </div>
                    <div class="form-group text-right">
                        <button ng-click="saveStep1('next')" type="submit" class="submit btn btn-primary btn-auto-width">Next</button>
                    </div><!-- /input-group -->

                </form>

            </div><!--col-->
        </div><!--row-->


    </div><!--container-->
</div><!--wrapper-->
<script>
// google places for auto-suggester
//    initialize_googleplaces();
// TOOLTIP
$('[data-toggle="tooltip"]').tooltip( {html: true,trigger:'hover'});

</script>
