<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1>RFI - Location and Time</h1>
    </div>
</div>

<div class="wrapper dashboard">
<div class="container">
    <div class="row">
        <div id="form-container" class="col-xs-12 col-md-8">
            <form name="locationForm">

                <div class="intro">

                </div>

                <div class="form-group">
                    <h4>Event Location</h4>
                    <input type="text" class="form-control" ng-model="rfiData.location.location" name="location" id="searchTextField" placeholder="" value="" required>
                    <input type="hidden" name="latlon" ng-model="rfiData.location.latlon" id="default_location" value="{{rfiData.location.latlon}}">
                    <input type="hidden" name="default_city" ng-model="rfiData.default_city" id="default_city" value="{{rfiData.default_city}}">
                    <input type="hidden" name="default_state" ng-model="rfiData.default_state" id="default_state" value="{{rfiData.default_state}}">
                    <input type="hidden" name="default_country" ng-model="rfiData.default_country" id="default_country" value="{{rfiData.default_country}}">

                </div>

                <div class="form-group">
                    <h4>Location Details</h4>
                    <p>Please include details about the subnational level location of the event:</p>
                    <textarea class="form-control" style="height:50px" ng-model="rfiData.location.location_details" id="population_description" placeholder="Available details..." required></textarea>
                </div>

                <div class="form-group"  data-toggle="tooltip" title=" Please enter date of onset of first case/s; if no specific date is available consider the date of the source reporting. In case of an update of an already verified PHE consider to use the date of the RFI.">
                    <h4>Date</h4>
                    <p>Requesters should include at least month and year of the “reported occurrence” of case/s.</p>
                    <input type="text" class="form-control" ng-model="rfiData.location.event_date" name="event_date" id="datepicker" data-provide="datepicker" required>
                </div>

                <div class="form-group">
                    <h4>Date Details</h4>
                    <p>If more cases are reported in time it should be preferred to include information about reporter first cases, with a preference to onset of symptoms if possible.</p>
                    <textarea class="form-control" style="height:50px" ng-model="rfiData.location.event_date_details" id="event_date_details" placeholder="Available details..." ></textarea>
                </div>

                <div class="form-group">&nbsp;
                    <button ng-click="saveLocation('next')" type="submit" class="submit btn btn-primary"> Next <i class="fa fa-arrow-circle-right"></i></button>
                </div><!-- /input-group -->
                <span class="error">{{location_error_message}}</span>

            </form>

        </div><!--col-->
    </div><!--row-->
</div><!--container-->
</div><!--wrapper-->
<script>

    // google places for auto-suggester
    initialize_googleplaces();

    // TOOLTIP
    $('[data-toggle="tooltip"]').tooltip( {html: true,trigger:'hover'});
</script>
