<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1>RFI - Affected Population</h1>
    </div>
</div>

<div class="wrapper dashboard">
<div class="container">
    <div class="row">
        <div id="form-container" class="col-xs-12 col-md-8">
            <form name="requestForm">

                <div class="form-group">
                    <span style="float: right;"><a href ng-click="clearRequest()" class="btn btn-default">Clear RFI</a></span><br>
                </div>

                <h4>Affected Population:</h4>
                <div class="intro">
                    <h5>Requesters should consider all details available from their information sources and choose one or more among the following options:</h5>
                </div>

                <div class="form-group">
                    <div class="radio">
                        <!--<label > <input type="checkbox" name="human" ng-model="rfiData.population.human" ng-click="clearPopulation('human'); clearAnimal('all'); clearPopError();" > Human population</label>-->
                        <label > <input type="radio" name="human" ng-model="rfiData.population.type" value="H" ng-required="!rfiData.population.type && !goback"> Human population</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label > <input type="radio" name="animal" ng-model="rfiData.population.type" value="A" ng-required="!rfiData.population.type && !goback" > Animal population</label>
                    </div>
                </div>
                <div class="form-group" ng-if="rfiData.population.type == 'A'" style="margin-left: 40px">
                    <div class="radio">
                        <label > <input type="radio" name="birds" ng-model="rfiData.population.animal_type" value="B" ng-required="!rfiData.population.animal_type" > Birds/Poultry</label>
                    </div>
                    <div class="radio">
                        <label > <input type="radio" name="pigs" ng-model="rfiData.population.animal_type" value="P" ng-required="!rfiData.population.animal_type"> Pigs/Swine</label>
                    </div>
                    <div class="radio">
                        <label > <input type="radio" name="cattle" ng-model="rfiData.population.animal_type" value="C" ng-required="!rfiData.population.animal_type"> Cattle</label>
                    </div>
                    <div class="radio">
                        <label > <input type="radio" name="goats" ng-model="rfiData.population.animal_type" value="G" ng-required="!rfiData.population.animal_type"> Goats/Sheep</label>
                    </div>
                    <div class="radio">
                        <label > <input type="radio" name="dogs" ng-model="rfiData.population.animal_type" value="D" ng-required="!rfiData.population.animal_type"> Dogs/Cats</label>
                    </div>
                    <div class="radio">
                        <label > <input type="radio" name="horses" ng-model="rfiData.population.animal_type" value="H" ng-required="!rfiData.population.animal_type"> Horses/Equines</label>
                    </div>
                    <div class="radio">
                        <label > <input type="radio" name="other_animal" ng-model="rfiData.population.animal_type" value="O" ng-required="!rfiData.population.animal_type"> Other</label>
                    </div>
                    <div class="form-group" ng-if="rfiData.population.animal_type == 'O'">
                        <input type="text" class="form-control" ng-model="rfiData.population.other_animal" name="other_animal" id="other_animal" placeholder='other animal description...' value="" required >
                    </div>
                </div>

                <div class="form-group">
                    <div class="radio" data-toggle="tooltip" title="">
                        <label > <input type="radio" name="environment" ng-model="rfiData.population.type" value="E" ng-required="!rfiData.population.type && !goback" > Environmental</label>
                        <input ng-if="rfiData.population.type == 'E'" type="text" class="form-control" ng-model="rfiData.population.other" name="other" id="other_environment" placeholder='short description... Example: Chemical spill' value="" required>
                    </div>
                </div>

                <div class="form-group" data-toggle="tooltip" title="">
                    <div class="radio">
                        <label > <input type="radio" name="unknown" ng-model="rfiData.population.type" value="U" ng-required="!rfiData.population.type && !goback" > Unknown</label>
                        <input ng-if="rfiData.population.type == 'U'" type="text" class="form-control" ng-model="rfiData.population.other" name="other" id="other_unknown" placeholder='short description...' value="" required>
                    </div>
                </div>
<!--

                <div class="form-group">
                    <div class="radio">
                        <label > <input type="radio" name="open" ng-model="rfiData.population.type" value="O" ng-required="!rfiData.population.type && !goback" > Open Option</label>
                        <input ng-if="rfiData.population.type == 'O'" type="text" class="form-control" ng-model="rfiData.population.other" name="other" id="other" placeholder='open option details...' value="" required>
                    </div>
                </div>

-->

                <div class="form-group">
                    <h4>Affected Population Details:</h4>
                    <p>Please include all additional details available about the specific population affected (e.g. animal and/or human population affected, specific age-groups, at-risk populations):</p>
                    <textarea class="form-control" style="height:300px" ng-model="rfiData.population.description" id="description" placeholder="Available details..." ></textarea>
                </div>

                <!-- next/back buttons -->
                <div class="form-group">
                    <button ng-click="savePopulation('back')" type="submit" class="submit btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Back </button> &nbsp; &nbsp;
                    <button ng-click="savePopulation('next')" type="submit" class="submit btn btn-primary"> Next <i class="fa fa-arrow-circle-right"></i></button>
                </div><!-- /input-group -->
                <span class="error">{{pop_error_message}}</span>

            </form>

        </div><!--col-->
    </div><!--row-->
</div><!--container-->
</div><!--wrapper-->

<script>
    // TOOLTIP
    $('[data-toggle="tooltip"]').tooltip( {html: true,trigger:'hover'});
</script>

