<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1>Terms of Participation</h1>
    </div>
</div>

<div class="wrapper dashboard">

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
<p>
EpiCore collects limited personal information however your contact information will not be shared with any third party except as required by law or government regulation.
</p>

<p>
By agreeing to these terms and conditions you are agreeing to the HealthMap Terms of Use and in addition you are hereby authorizing EpiCore to use the information for the purposes stated hereunder. We reserve the right to use this information internally, including but not limited to research purposes, quality assurance purposes, and correspondence with you.  The EpiCore project is the result of a collaboration between Boston Children’s Hospital, Tephinet, the International Society for Infectious Diseases’ Program for Monitoring Emerging Diseases (ProMED-Mail), and the Skoll Global Threat Fund (“Collaborators”).  The Collaborators shall have access to the information stored in EpiCore, however we will not sell, share, rent, or otherwise reveal this information to any other third party except as required by law or government regulation, or to address issues of noncompliance. We may share aggregate data with third parties in a manner that will not identify you.
</p>

<p>
All information submitted to and/or exchanged with this site is protected by Secure Sockets Layer (SSL) encryption, the same standard used to protect the transmission of credit card information and other sensitive data over the internet.
</p>

<p>
Users may unenroll in EpiCore at any time. Users are responsible for the security of their own devices.
</p>

<p>
EpiCore uses cookies to improve the quality of our service, including (if you choose) remembering your login information so that it does not need to be re-entered.
</p>

<p>
By sending a written contribution to EpiCore through epicore.org, you hereby grant to Boston Children’s Hospital, HealthMap, any of its successor organizations, and the Collaborators, a perpetual, royalty-free, unconditional non-exclusive license to publish your contribution according to the level of confidentiality that you have chosen at time of submission. You also agree that the Collaborators have the right, but not the obligation, to edit or remove any contribution in their sole discretion. 
</p>

        </div><!--col-->
    </div><!--row-->
</div><!--container-->
</div><!--wrapper-->
