<div ng-include src="'header_new.html'"></div>
<div class="jumbotron page">
<div class="gradient-overlay light"></div>
    <div class="container">
        <h1><span class="tagline text-uppercase">EpiCore Training</span></h1>
    </div>
</div>

<div class="wrapper">
<div class="container">
            <!-- youtube videos -->
            <div>
                <h2>Training Videos</h2>
                <p>Please watch all of the following training videos.</p>
                <div my-youtube code="code1"></div>
            </div>
</div>
</div>

<div class="wrapper npt">
<div class="container">

            <!-- Test -->
            <h2>Test</h2>
            <p>Please answer all questions.</p>

            <form name="testForm" role="form" id="testForm">

                <div class="form-group">
                    <p><b>1. The following could be considered (an) information source(s) for disease surveillance:</b></p>
                        <span ng-show="!test.q1 && attempted" class="red">Must select one</span>
                    <div class="radio">
                        <label> <input type="radio" ng-model="test.q1" value="A" > a)  Blogs and online discussion groups</label>
                    </div>
                    <div class="radio">
                        <label> <input type="radio" ng-model="test.q1" value="B" >  b)  Social media</label>
                    </div>
                    <div class="radio">
                        <label> <input type="radio" ng-model="test.q1" value="C" >  c)  Rumor (gossip)  </label>
                    </div>
                    <div class="radio">
                        <label> <input type="radio" ng-model="test.q1" value="D" >  d)  Local media</label>
                    </div>
                    <div class="radio">
                        <label> <input type="radio" ng-model="test.q1" value="E" >  e)  All of the above</label>
                    </div>
                    <div class="radio">
                        <label> <input type="radio" ng-model="test.q1" value="F" >  f)  b and d only</label>
                    </div>
                </div>

            <div class="form-group">
                <p>2.<b> <b class="red">All of the following</b> are important reasons for using non-traditional sources in disease surveillance <b class="red">except</b>:</b></p>
                <span ng-show="!test.q2 && attempted" class="red">Must select one</span>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q2" value="A" >  a)  Faster disease detection </label>
                </div>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q2" value="B" >  b)  Faster disease reporting</label>
                </div>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q2" value="C" >  c)  Better Accuracy</label>
                </div>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q2" value="D" >  d)  Not restricted to certain diseases</label>
                </div>
            </div>

            <div class="form-group">
                <p><b>3. Over the past 20 years, some data suggest that the time required for an outbreak to be publicly reported:</b></p>
                <span ng-show="!test.q3 && attempted" class="red">Must select one</span>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q3" value="A" >  a)  Increased by almost 50%</label>
                </div>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q3" value="B" >  b)  Decreased by almost 50%</label>
                </div>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q3" value="C" >  c)  Remained unchanged</label>
                </div>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q3" value="D" >  d)  Unknown, because this question has never been studied</label>
                </div>
            </div>

            <div class="form-group">
                <p><b>4. All of the following are online disease surveillance sources except:</b></p>
                <span ng-show="!test.q4 && attempted" class="red">Must select one</span>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q4" value="A" >  a)	HealthMap</label>
                </div>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q4" value="B" >  b)	OneHealth</label>
                </div>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q4" value="C" >  c)	ProMED-mail</label>
                </div>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q4" value="D" >  d)	GPHIN</label>
                </div>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q4" value="E" >  e)	Google Flu Trends</label>
                </div>
            </div>

            <div class="form-group">
                <p><b>5. One of these options about the epicore.org platform is <b class="red">not</b> correct</b></p>
                <span ng-show="!test.q5 && attempted" class="red">Must select one</span>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q5" value="A" >  a)	Requests for information on disease outbreaks will be sent to you by expert moderators</label>
                </div>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q5" value="B" >  b)	You can use available traditional and/or non-traditional sources when collecting information for your response</label>
                </div>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q5" value="C" >  c)	Your responses will be anonymous, unless you choose otherwise</label>
                </div>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q5" value="D" >  d)	It is free to join EpiCore</label>
                </div>
                <div class="radio">
                    <label> <input type="radio" ng-model="test.q5" value="E" >  e)	None of the above</label>
                </div>
            </div>

            <div class="form-group" ng-show="!passed">
                <button type="submit" ng-click="grade(test)" class="submit btn btn-primary">Submit</button>
            </div>
        </form>
            <div>
                <p class="intro red"><strong ng-bind-html="test_message"></strong></p>
            </div>
            <div ng-show="passed">
                <a href="#/login" class="nav-button"><b>Login</b></a>
            </div>
</div><!--container-->
</div><!--wrapper-->

