<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1>Training Videos</h1>
    </div>
</div>

<div class="wrapper">
    <div class="container">

        <a magnific-popup="#/certificate" class="mb48 btn btn-primary"> Access your certificate</a>

        <h2>Introduction to Innovative Disease Surveillance</h2>
        <p><a magnific-popup="/documents/intro-to-innovative-surveillance-handbook.pdf">Download the handbook for this course <i class="fa fa-download"></i></a></p>
        <div class="mb48 video-container">
            <iframe src="https://player.vimeo.com/video/173458799" height="100%" width="980" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <h2>Introduction to the EpiCore Platform</h2>
        <h3><a magnific-popup="/documents/epicore-training-handbook.pdf">Download the handbook for this course <i class="fa fa-download"></i></a></h3>
        <h3><a magnific-popup="/documents/combinedcasestudy.pdf">Download EpiCore case studies <i class="fa fa-download"></i></a></h3>
        <!--<div class="mb48 video-container">
            <iframe src="https://player.vimeo.com/video/173458872" height="550" width="980" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>-->
    </div>
</div>
<div ng-include src="'footer.html'"></div>
