<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1>Training Videos</h1>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <h2>Introduction to Innovative Disease Surveillance</h2>
        <div class="mb48 video-container">
            <iframe class="video" src="https://www.youtube.com/embed/LYgaHDL00x0" frameborder="0" allowfullscreen></iframe>
        </div>

        <h2>Introduction to the EpiCore Platform</h2>
        <div class="mb48 video-container">
            <iframe class="video" src="https://www.youtube.com/embed/0ZVnTS7Bo3A" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

