<div ng-include src="'header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1>Training Videos</h1>
    </div>
</div>

<div class="wrapper">
    <div class="container">

        <a href="#/certificate" class="mb48 btn btn-primary"> Access your certificate</a>

        <h2>Introduction to Innovative Disease Surveillance</h2>
        <p><a href="/documents/intro-to-innovative-surveillance-handbook.pdf">Download the handbook for this course <i class="fa fa-download"></i></a></p>
        <div class="mb48 video-container">
            <!--<iframe class="video" src="https://www.youtube.com/embed/LYgaHDL00x0" frameborder="0" allowfullscreen></iframe>-->
            <iframe src="https://player.vimeo.com/video/162859579" height="550" width="980" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <h2>Introduction to the EpiCore Platform</h2>
        <p><a href="/documents/epicore-training-handbook.pdf">Download the handbook for this course <i class="fa fa-download"></i></a></p>
        <div class="mb48 video-container">
            <!--<iframe class="video" src="https://www.youtube.com/embed/0ZVnTS7Bo3A" frameborder="0" allowfullscreen></iframe>-->
            <iframe src="https://player.vimeo.com/video/162859634" height="550" width="980" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</div>

