<div ng-include src="'header_new.html'"></div>
<div class="jumbotron page">
<div class="gradient-overlay light"></div>
    <div class="container">
        <h1><span class="tagline text-uppercase">Welcome</span></h1>
    </div>
</div>

<div class="wrapper">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">

            <p>Congratulations on your acceptance! The next step is for you to finish the online training sessions.</p>

            <p>These sessions are designed to provide the basic skills and information you need as a health professional to
                improve disease surveillance not only in your community and country, but also globally.
            </p>

            <p>Once you have successfully completed your training, you will have access to the Epicore platform.</p>
            <p>Start the <a href="#/test" class="nav-button"><b>online training</b></a>.</p>

            <p>If at any point you have questions, please do not hesitate to reach out to us at <a href="mailto:info@epicore.org">info@epicore.org</a>. We look forward to working with you soon!
            </p>

        </div>
    </div>
</div>
</div>
