<div ng-include src="'header_nologin.html'"></div>
<div class="container main">
    <div class="row">
        <div id="form-container" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Welcometo EpiCore!</h4>

            <p>Congratulations on your acceptance! The next step is for you to finish the online training sessions.</p>

            <p>These sessions were developed by the project partners with the help of the training experts, NextGenU,
                and are designed to provide the basic skills and information you need as a health professional to
                improve disease surveillance not only in your community and country, but also globally.
            </p>

            <p>Here is the link for the online <a href="https://www.nextgenu.org/login/signup-epicore.php?email={{userInfo.email}}" target="_blank"><b>online Training Course</b></a>.</p>

            <p>Once you click on the link, you will be directed to a NextGenU web page which is hosted outside of EpiCore.
                Once there, you will be asked to create NextGenU-EpiCore login information.
            </p>
            <img src="img/nextgenu1.jpeg" alt="NextGenU web page" style="width:800px;height:600px;">
            <p></p>

            <p>When creating your account information on this page, it is important that you <b>use the same email address</b> you used to apply to EpiCore.
                This will help us keep track of your training progress so that once you have successfully completed the courses, you will be allowed full access to the EpiCore platform.
            </p>

            <p>After you successfully create your login information, you will be directed to the homepage for the EpiCore training:
            </p>
            <img src="img/nextgenu2.jpeg" alt="NextGenU web page" style="width:800px;height:500px;">
            <p></p>

            <p>Here you should find two training courses:<br>
                Course 1: Introduction to Innovative Surveillance<br>
                Course 2: The EpiCore Platform Training
            </p>

            <p>You will need to take both courses, by clicking on each of those links and watching each video,
                then obtain a certificate from each of these two courses before you are considered “certified” to use the EpiCore platform.
            </p>

            <p>Here are some instructions on ways you can obtain your certificate for one of the courses:
            </p>

            <p>Once you finish taking the training for course 1, find the link for “certificate” on the left panel as shown here</p>
            <br>
            <img src="img/nextgenu3.jpeg" alt="NextGenU web page" style="width:800px;height:500px;">
            <p></p>

            <p>You will be directed to another page, where you should continue to follow the link to download your certificate as below:
            </p>
            <img src="img/nextgenu4.jpeg" alt="NextGenU web page" style="width:800px;height:500px;">
            <p></p>
            <img src="img/nextgenu5.jpeg" alt="NextGenU web page" style="width:800px;height:500px;">
            <p></p>

            <p>Until you get the certificate</p>
            <img src="img/nextgenu6.jpg" alt="NextGenU web page" style="width:800px;height:500px;">
            <p></p>

            <p>Repeat the same steps for Course 2, and produce your certificate to be finally registered as “certified” in our records
            </p>
            <img src="img/nextgenu7.jpeg" alt="NextGenU web page" style="width:800px;height:500px;">
            <p></p>

            <p>Once you have completed your training and obtained both certificates, you should receive an email with further instructions
                within an hour of obtaining both certificates.
            </p>

            <p>If at any point you have any questions, please do not hesitate to reach out to us at <a href="mailto:info@epicore.org">info@epicore.org</a>,
                and we look forward to working with you soon!
            </p>

        </div>
    </div>
</div>
