<div ng-include src="'header_nologin.html'"></div>
<div class="container main">
    <div class="row">
        <div id="form-container" class="col-xs-12 col-sm-9 col-md-7 col-lg-6">
        <h4>Welcome</h4>
        <p>Please follow this link to be directed to the <a href="https://www.nextgenu.org/login/signup-epicore.php?email={{userInfo.email}}" target="_blank"><b>online Training Course</b></a>. Upon successful completion of the course, full access to the EpiCore platform will be provided.</p>

        <p>This course is designed to provide the basic skills and information you need as a health professional or field epidemiologist to improve disease surveillance not only in your community and country, but also globally. </p>

        <p>In this course, we will introduce and explain the importance of innovative surveillance, and explain how to utilize online resources like HealthMap and ProMED, as well as how to use Innovative surveillance tools like EpiCore.</p>
        </div>
    </div>
</div>
</div>
