<div ng-include src="'header_nologin.html'"></div>
<div class="container main">
    <div class="row">
        <div id="form-container" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Welcome to EpiCore!</h4>

            <p>Congratulations on your acceptance! The next step is for you to finish the online training sessions.</p>

            <p>These sessions are designed to provide the basic skills and information you need as a health professional to
                improve disease surveillance not only in your community and country, but also globally.
            </p>

            <p>Click here to take the <a href="#/test" class="nav-button"><b>online Training Course</b></a>.</p>


            <p>Once you have successfully completed your training, you will have access to the Epicore platform.
            </p>

            <p>If at any point you have any questions, please do not hesitate to reach out to us at <a href="mailto:info@epicore.org">info@epicore.org</a>,
                and we look forward to working with you soon!
            </p>

        </div>
    </div>
</div>
