<div ng-include src="'header_new.html'"></div>
<div class="jumbotron page">
<div class="gradient-overlay light"></div>
    <div class="container">
        <h1><span class="tagline text-uppercase">Who Can Apply</span></h1>
    </div>
</div>

<div class="wrapper">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
        <p>All health professionals with formal education and training in animal or human health, and knowledge of basic principles of epidemiology, infectious disease or related fields are encouraged to apply online.</p>

        <h3>EpiCore members must have at least 2 of the following qualifications:</h3>
        <ul>
            <li>An advanced degree in Public Health or a related field (e.g. MPH)</li>
            <li>A health profession certification or licensure (e.g. MD, DVM, RN)</li>
            <li>At least 3 years of experience in human or animal health</li>
            <li>Current affiliation with a medical center, university, Ministry/Department of Health, or other health-related organization including NGOs & private sector organizations</li>
            <li>Successful completion of a field epidemiology training program at TEPHINET or one of its regional networks</li>
        </ul>

        </div><!--col-->
    </div><!--row-->
</div><!--container-->
</div><!--wrapper-->

<div class="wrapper darkgray">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h3>Become EpiCore certified</h3>
        </div>
        <div class="col-xs-12 col-md-4">
            <a href="#/application" class="btn btn-primary text-uppercase">Apply Now</a>
        </div>
    </div>
</div>
</div>

