# php files#
############
/test
/data
/emailtemplates/temp
/scripts/conf/
.idea
/vendor
/cache
/responsefiles
/img/metrics/
/node_modules

#webpack dist folder
/js/dist/

# dotenv environment variable files
.env

# dotenv environment variable files
nginx-site.conf

*.DS_Store

