<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="logo" href="#/home"><img src="img/logos/epicore.png" height="60px" alt="Epicore" style="display:block;float:left;margin-top:18px;margin-bottom:18px;margin-right:6px;"> <span class="text-uppercase">Epicore</span></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="text-uppercase" ng-show="{{userInfo.isPromed}}"><a href="http://promedmail.org/dashboard" target="_blank"><img src="img/promed.png"> ProMED Dashboard <i class="fa fa-arrow-circle-right"></i></a>&nbsp;&nbsp;</li>
                <li class="text-uppercase" ng-if="userInfo.active=='Y'"><a href="#/events" ng-class="getClass('/events')">Epicore Dashboard</a></li>
                <li class="text-uppercase" ng-show="{{userInfo.isOrganization}}"><a href="#/request" ng-class="getClass('/request')">Send Request</a></li>
                <li class="text-uppercase" ng-if="userInfo.active=='N'"><a href="#/welcome" ng-class="getClass('/welcome')">Welcome</a></li>
                <li class="text-uppercase"><a ng-href="#/home" ng-click="userLogout()">Logout [{{userInfo.uname}}]</a></li>
                <li class="text-uppercase"><a ng-show="userInfo.fetp_id" ng-href="#/application/{{userInfo.fetp_id}}/edit/fetp" >Edit Profile</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

