<div ng-include src="'templates/header/header_new.html'"></div>
<div class="jumbotron page">
<div class="gradient-overlay light"></div>
    <div class="container">
        <h1><span class="tagline text-uppercase">Member Access</span></h1>
    </div>
</div>

<div class="wrapper">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <form ng-controller="userController">
            <p>Thank you for helping us find and verify outbreaks faster!</p>
            <div class="form-group">
                <button ng-click="userLogin()" type="submit" class="submit btn btn-primary">Continue to Epicore <i class="fa fa-arrow-circle-right"></i></button>
            </div><!-- /input-group -->
            </form>
        </div>
    </div><!--row-->
</div><!--container-->
</div><!--wrapper-->
