<div ng-include src="'templates/header/header_new.html'"></div>
<div class="jumbotron page">
<div class="gradient-overlay light"></div>
    <div class="container">
        <h1><span class="tagline text-uppercase">Set Password</span></h1>
    </div>
</div>

<div class="wrapper">
<div class="container">
<div class="row">
    <div id="form-container" class="col-xs-12 col-md-8">
        <form name="setpwForm" ng-controller="userController" id="setpw-form">
         <p class="intro">Please enter your email address and choose a password with at least 8 characters and at least one upper case letter and at least one number.</p>
         <p class="intro" id="error_message" ng-show="{{error_message}}"><strong>{{error_message}}</strong></p>
			<div class="form-group">
                <label class="sr-only" for="username">Email Address</label>
                <input type="text" class="form-control" ng-model="formData.username" name="username" id="username" placeholder="Email Address">
            </div>
			<div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input type="password" class="form-control" ng-model="formData.password" name="password" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label class="sr-only" for="confpassword">Verify Password</label>
                <input type="password" class="form-control" ng-model="formData.verifypassword" name="confpassword" id="confpassword" placeholder="Verify Password">
            </div>
            <div class="form-group">
                <label class="sr-only" for="verifycode">Verify Code</label>
                <input type="password" class="form-control" ng-model="formData.verifycode" name="verifycode" id="verifycode" placeholder="Verify Code">
            </div>
			<!--<div class="checkbox form-group">
                <label><input type="checkbox" name="agree" ng-model="formData.agree" required> I agree to Epicore's <a href="#/terms">Terms of Participation</a></label>.
            </div>-->
            
			<div class="form-group">
            <span ng-show="isRouteLoading">
                <i class="fa fa-spinner fa-spin"></i> Please wait...
            </span>
                <button ng-click="setPassword(formData)" type="submit" class="submit btn btn-default">Login</button>
            </div><!-- /input-group -->
       </form>

  </div><!--form-container-->

</div><!--row-->
</div><!--container-->
</div><!--wrapper-->
<script>
    $(document).ready(function(){
        $('#setpw-form').validate(
                {
                    rules: {
                        username: {
                            email: true,
                            required: true
                        },
                        password: {
                            minlength: 8,
                            required: true,
                            pwcheck: true
                        },
                        confpassword: {
                            minlength: 8,
                            required: true,
                            equalTo: '#password'
                        }
                    },
                    messages: {
                        username: {
                            required: "required"
                        },
                        password: {
                            minlength: "must be at least 8 characters",
                            required: "required",
                            pwcheck: "must have at least one upper case letter and at least one number"
                        },
                        confpassword: {
                            minlength: "must be at least 8 characters",
                            required: "required",
                            equalTo: "please enter the same password again"
                        }
                    },
                    highlight: function (element) {
                        $(element).closest('.control-group').removeClass('success').addClass('error');
                    }
                });
        $.validator.addMethod("pwcheck", function(value) {
            return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
                    && /[A-Z]/.test(value) // has an uppercase letter
                    && /\d/.test(value) // has a digit
        });
    }); // end document.ready
</script>
