<div ng-include src="'templates/header/header_lp.html'" ng-init="lpevent=['application clicks', 'button click', 'professional']" ></div>

<div class="jumbotron lp">
<div class="gradient-overlay"></div>
    <div class="container">
        <h1><span class="tagline tagline-first text-uppercase">Small Commitment</span><br><span class="tagline tagline-second text-uppercase">Big Impact</span></h1>        
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <h2>Join a global network of public health experts</h2>
        <div class="row mt48">
            <div class="col-xs-12 col-md-6">
                <img src="img/publichealth-epicore.png" class="mb24 fullwidth" alt="Certified EpiCore Member">
            </div>
            <div class="col-xs-12 col-md-6">
                <h4>Enrich your knowledge and make an impact in disease surveillance and detection</h4>
                <p>EpiCore is a new system that joins a global network of health professionals using innovative surveillance methods to verify outbreaks of infectious diseases.</p>

                <ul>
                    <li>Our quick online training shares everything you need to know in order to be an effective EpiCore member.</li>
                    <li>On the EpiCore platform, you’ll respond to requests for information regarding disease outbreaks in your region.</li>
                </ul>

                <p>Just a few minutes is all it takes to share crucial information that may confirm epidemics faster. Use your skills and knowledge to speed up early detection of outbreaks, and help your country and the world respond more quickly.</p>
            </div>
        </div>
    </div>
</div>

<div class="wrapper gray">
    <div class="container">
        <h2>How it Works</h2>

        <div class="row">
        <div class="col-xs-12 col-md-8">
        <div class="table nbm">
        <div class="valign text-center" style="height:148px;width:148px;">
            <object style="height:120px;" type="image/svg+xml" data="img/n3.svg"></object>
        </div>
        <h3 class="inherit valign">EpiCore links a worldwide network of health professionals to verify information on disease outbreaks</h3>
        </div>

        <div class="table nmb">
        <div class="valign text-center" style="height:148px;width:148px;">
            <object style="height:96px;" type="image/svg+xml" data="img/n1.svg"></object>
        </div>
        <h3 class="inherit valign">When evidence of an outbreak is found, local information is requested from EpiCore members</h3>
        </div>
        
        <div class="table nmb">
        <div class="valign text-center" style="height:148px;width:148px;">
        <object style="height:96px;" type="image/svg+xml" data="img/n2.svg"></object>
        </div>
        <h3 class="inherit valign">EpiCore members are able to quickly provide expertise, speeding up outbreak verification</h3>
        </div>
        </div>
        </div>
        <h4 class="mt48">To learn more about how the EpiCore platform works, visit our <a href="#/how">How it Works page</a>.</h4>
    </div>
</div>

<div class="wrapper darkgray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h2>Apply Now to Become a Certified EpiCore Member</h2>
            </div>
            <div class="col-xs-12 col-md-4">
                <a href="#/application" class="btn btn-primary inherit" ga-track-event="['application clicks', 'button click', 'professional']" >Apply Now</a>
            </div>
        </div>
    </div>
</div>


