<div ng-include src="'templates/header/header.html'"></div>
<div class="jumbotron dashboard">
    <div class="container">
        <h1>Send RFI</h1>
    </div>
</div>

<div class="wrapper dashboard form-style-2">
    <div class="container">
        <div class="row">
            <div id="form-container" class="col-xs-12 col-md-8">
                <form name="locationForm">

                    <div class="clear mb48">
                        <span style="float: left;"><h2 class="mb0 more-space">Step 1: Event Details</h2></span>
                        <span style="float: right;"><a href ng-click="clearRequest()" class="btn btn-transparent">Clear RFI</a></span>
                    </div>

                    <div class="form-group more-space">
                        <label>Event Location</label>
                        <!--<input type="text" class="form-control" ng-model="rfiData.location.location" ng-focus="rfiData.location.location = ''; rfiData.location.latlon=''" name="location" id="searchTextField" placeholder="" value="" required>-->
                        <!--<input type="hidden" name="latlon" ng-model="rfiData.location.latlon" id="default_location" value="{{rfiData.location.latlon}}">-->
                        <input class="form-control" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model="rfiData.place" ng-focus="rfiData.place = ''; rfiData.location.latlon=''" id="autocompleteText" required ng-blur="saveLocation('next')" />

                    </div>

                    <span class="error">{{location_error_message}}</span>
                </form>

            </div><!--col-->
        </div><!--row-->

        <div class="row">
            <div id="form-container" class="col-xs-12 col-md-8">
                <div class="form-group more-space">
                    <label class="mb0">Select RFI Responders</label>

                    <div class="radio"><label><input type="radio" name="filtertype" ng-value="radius" ng-click="recalcUsers('radius');" ng-checked="radiussel">Select responders near the event location {{rfiData.members.display_location}}</label></div>
                    <div class="radio"><label><input type="radio" name="filtertype" ng-value="country" ng-click="recalcUsers('country');" ng-checked="!radiussel">Select responders by country</label></div>

                    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" ng-if="radiussel" >
                    <ui-gmap-rectangle bounds="rectangle.bounds" stroke="rectangle.stroke" visible="true" fill="rectangle.fill" fit="false" editable="true" draggable="true" events="eventsRectangle">
                    </ui-gmap-rectangle>
                    <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="'onClick'">
                    <windows show="show">
                    <div ng-non-bindable>{{title}}</div>
                    </windows>
                    </ui-gmap-markers>
                    </ui-gmap-google-map>

                    <div ng-include src="'templates/request/rfi_members_select.html'"></div>
                    <p class="red">{{rfiData.members.numUniqueFetps}} responders at {{rfiData.members.numFetps}} locations selected</p>

                    <span class="error" ng-if="submitDisabled">Must select at least one member.</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="form-container" class="col-xs-12 col-md-8">
                <form name="locationForm">

                    <div class="form-group more-space">
                        <label>Date of the Event <i class="tooltip-icon fa fa-info-circle" data-toggle="tooltip" title="Please enter date of onset of first case/s; if no specific date is available consider the date of the source report. In case of an update of an already verified PHE consider today's date."></i></label>
                        <input type="text" class="form-control-small form-control" ng-model="rfiData.location.event_date" name="event_date" id="datepicker" data-provide="datepicker" autocomplete="off" required>
                    </div>

                    <div class="hide form-group" data-toggle="tooltip" title=" Please specify if the date selected is date of symptom onset or date of confirmation of case, etc">
                        <h4>Date Details:</h4>
                        <p>Please include any additional details about the date that may be informative and relevant (e.g. date refers to first confirmation)</p>
                        <textarea class="form-control" style="height:300px" ng-model="rfiData.location.event_date_details" id="event_date_details" placeholder="Available details..." ></textarea>
                    </div>

                    <div class="hide form-group">&nbsp;
                        <button ng-click="saveTime('back')" type="submit" class="submit btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Back </button> &nbsp; &nbsp;
                        <button ng-click="saveTime('next')" type="submit" class="submit btn btn-primary btn-auto-width">Next</button>
                    </div><!-- /input-group -->
                    <span class="error">{{time_error_message}}</span>

                </form>

            </div><!--col-->
        </div><!--row-->


        <div class="row">
            <div id="form-container" class="col-xs-12 col-md-8">
                <form name="requestForm">
                    <div class="form-group more-space">
                        <label class="mb0">How did you hear about this event? <i class="tooltip-icon fa fa-info-circle" data-toggle="tooltip" title="RFI requesters need to be specific if the original source of information about the PHE is a web-report or not, and in case it is it should be clarified if the information is a media report or an official document online. In case of multiple web-items available the Requester should include recent information of as much as possible reliable sources. If the source of information used is a personal communication to Requesters (from EPICORE responders or not), Requesters should try to search actively for information on the web before sending out the RFI."></i></label>
                        <div class="form-group">

                            <div class="radio">
                                <label class="radio" data-toggle="tooltip" title="The RFI is based on media information. In case of web-based media items at least one link should be included; if there is no media report available online, then any other detail about the original source should be included (e.g. “link removed”, “only paper version available”, “name of original newspaper”, “early warning system reporting”) ">
                                    <input type="radio" ng-model="rfiData.source.source" value="MR" ng-required="!rfiData.source.source">Media Report</label>
                            </div>
                            <div class="secondary-input" ng-if="rfiData.source.source=='MR'">
                                <label>Please provide a link to the report if available</label>
                                <input type="text" class="form-control" ng-model="rfiData.source.medialink" name="media-link" id="media-link" value=""  placeholder="Enter the link to the media report">
                            </div>
                            <div class="radio">
                                <label class="radio" data-toggle="tooltip" title="The RFI is based on an official report (this can happen if more details are needed). In case of an official document available online, at least one link should be included; if there is no official document available online, then any other detail about the original source should be included (e.g. WHO information, reported by local health authorities from X)">
                                    <input type="radio" ng-model="rfiData.source.source" value="OR" ng-required="!rfiData.source.source">Official Report</label>
                            </div>
                            <div class="secondary-input" ng-if="rfiData.source.source=='OR'">
                                <label>Please provide a link to the report if available</label>
                                <input type="text" class="form-control" ng-model="rfiData.source.officiallink" name="official-link" id="official-link" value=""  placeholder="Enter the link to the official report">
                            </div>
                            <div class="radio">
                                <label class="radio" data-toggle="tooltip" title="The RFI is based on a direct communication from an EPICORE member or an external that has not provided any further documentation (no personal details should be included). Before choosing this option, RFI Requesters should actively search for any online report about the mentioned event on the web: in case information about the PHE is identified, the information source should be classified as media/official (i.e. options 1 or 2), with the inclusion of at least one link. ">
                                    <input type="radio" ng-model="rfiData.source.source" value="OC" ng-required="!rfiData.source.source">Other communication</label>
                            </div>

                        </div>

                        <div class="hide form-group">
                            <button ng-click="saveSource('back')" type="submit" class="submit btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Back </button> &nbsp; &nbsp;
                            <button ng-click="saveSource('next')" type="submit" class="submit btn btn-primary"> Next <span ng-if="!rfiData.event_id">- Review & Send</span><i class="fa fa-arrow-circle-right"></i></button>
                        </div>
                        <span class="error">{{source_error_message}}</span>


                    </div>
                    <div class="form-group text-right">
                        <button ng-click="saveMembers('next')" type="submit" class="submit btn btn-primary btn-auto-width">Next</button>
                    </div><!-- /input-group -->

                </form>

            </div><!--col-->
        </div><!--row-->


    </div><!--container-->
</div><!--wrapper-->
<script>
// google places for auto-suggester
//    initialize_googleplaces();
// TOOLTIP
$('[data-toggle="tooltip"]').tooltip( {html: true,trigger:'hover'});

</script>
