<div ng-include src="'templates/header/header.html'"></div>
<div class="jumbotron dashboard">
	<div class="container">
		<h1>RFI - Preview & <span ng-if="!rfiData.event_id">Send</span> <span ng-if="rfiData.event_id">Update</span>
		</h1>
	</div>
</div>

<div class="wrapper dashboard">
	<div class="container">
		<div class="row">
			<div id="form-container" class="col-xs-12 col-md-8">
				<form name="sendRequestForm">

					<div class="form-group clear">
						<a href ng-click="clearRequest()" class="pull-right btn btn-transparent">Clear RFI</a>
						<a href="#/rfi_step1" class="pull-left btn btn-default">Edit RFI</a>
					</div>
					<p ng-if="!rfiData.event_id">Your RFI will be sent to {{rfiData.members.numFetps}} responders.</p>


					<div class="form-group">

						<h5 class="mb4 bold">Title</h5>
						<p>{{rfiData.event_title}}</p>

						<h5 class="mb4 bold">Location</h5>
						<p>{{rfiData.event_location}}</p>

						<h5 class="mb4 bold">Date</h5>
						<p>{{rfiData.location.event_date}}</p>

						<h5 class="mb4 bold">Affected Population</h5>
						<p>{{rfiData.event_population}}</p>

						<h5 class="mb4 bold">Health Condition</h5>
						<p>{{rfiData.event_conditions}}</p>

						<h5 class="mb4 bold">Health Condition Details</h5>
						<p>{{rfiData.health_condition.disease_details}}</p>

						<h5 class="mb4 bold">Purpose</h5>
						<ul class="mb24">
							<li ng-repeat="purpose in rfiData.event_purpose">{{purpose}}</li>
						</ul>

						<h5 class="mb4 bold">Personalized Message</h5>
						<p>{{rfiData.additionalText}}</p>

						<h5 class="mb4 bold">Source</h5>
						<p>{{rfiData.event_source}}
							<!-- <span ng-if="rfiData.source.medialink"><br />{{rfiData.source.medialink}}</span>
                    <span ng-if="rfiData.source.officiallink"><br />{{rfiData.source.officiallink}}</span> -->
							<span ng-if="rfiData.event_source=='Media Report'"><br />{{rfiData.source.details}}</span>
							<span ng-if="rfiData.event_source=='Official Report'"><br />{{rfiData.source.details}}</span>
							<span ng-if="rfiData.event_source=='Other Communication'"><br />{{rfiData.source.details}}</span>
						</p>

					</div>

					<!-- Send request buttons-->
					<div class="form-group" ng-if="!rfiData.event_id">
						<button ng-click="sendRequest2('back')" type="submit"
							class="submit btn btn-secondary btn-color-secondary pull-left">Back</button>
						<button ng-click="sendRequest2('next')" ng-disabled="submitDisabled" type="submit"
							class="submit btn btn-primary pull-right">{{sendRFIButtonText}}</button>
					</div>
					<!-- Update request buttons-->
					<div class="form-group" ng-if="rfiData.event_id">
						<button ng-click="updateRequest('back')" type="submit"
							class="submit btn btn-secondary btn-color-secondary pull-left">Back</button>
						<button ng-click="updateRequest('next')" ng-disabled="submitDisabled" type="submit"
							class="submit btn btn-primary pull-right">Update RFI</button>
					</div>

				</form>
			</div>
			<!--col-->
		</div>
		<!--row-->
	</div>
	<!--container-->
</div>
<!--wrapper-->