<div class="wrapper footer">
<footer id="footer" class="grayscale text-center">
<div class="container">
<a href="https://www.healthmap.org/en" third="true"><img src="img/logos/hm.png" alt="HealthMap" height="30"></a>
<a href="https://promedmail.org" third="true"><img src="img/logos/promed.jpg" alt="ProMED" height="50"></a>
<a href="https://endingpandemics.org/" third="true"><img src="img/logos/ep-logo.png" alt="EndingPandemics" height="50">
<a href="https://www.tephinet.org" third="true"><img src="img/logos/tephinet.png" alt="Tephinet" height="50"></a>
</div>
</footer>
</div>
