<div ng-include src="'templates/header/header_new.html'"></div>
<div class="jumbotron page">
<div class="gradient-overlay light"></div>
    <div class="container">
        <h1><span class="tagline text-uppercase">News Letter</span></h1>
    </div>
</div>

<div class="wrapper">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
        <h3>
            This quarterly newsletter is an effort to keep EpiCore members informed about how EpiCore is doing, updates on the system, and any training or educational opportunities available. 
        </h3> 
        </div>
    </div>
</div>
</div>
<div class="wrapper gray">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">

        <h2 class="">Latest: {{newsLinksLatest.year}}</h2>

        <table class='outer-border small table table-hover'>
            <tbody>
                <tr>
                    <th>Quarter</th>
                    <th>Newsletter</th>
                </tr>
                <tr ng-repeat="qobj in newsLinksLatest.qLinks">
                    <td>{{qobj.quarter}}</td>
                    <td><a target="_blank" href={{qobj.weblink}}>View newsletter</a></td>
                </tr>
            </tbody>
        </table>                
       
        <h2 class="">Previous Years</h2>

      
        <div ng-repeat="yearObj in newsLinksJson.slice(1,newsLinksJson.length)">
            <h3 class="">{{yearObj.year}}:</h3>
            <table class='outer-border small table table-hover'>
               <tbody>
                    <tr>
                        <th>Quarter</th>
                        <th>Newsletter</th>
                    </tr>
                    <tr ng-repeat="obj in yearObj.qLinks">
                        <td>{{obj.quarter}}</td>
                        <td><a target="_blank" href={{obj.weblink}}>View newsletter</a></td>
                    </tr>
                </tbody>
            </table>                
        </div>
       
        </div><!--col-->
    </div><!--row-->
</div><!--container-->
</div><!--wrapper-->

<div class="wrapper darkgray">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h3>Learn more about how EpiCore works</h3>
        </div>
        <div class="col-xs-12 col-md-4">
            <a href="#/how" class="btn btn-primary text-uppercase">Learn More</a>
        </div>
    </div>
</div>
</div>
<div ng-include src="'templates/footer/footer.html'"></div>
